# Python modules needed for the application
# simplejson # for Decimal datatype
# mysqlclient # for MySQL DB connection
# Flask-JSON # for Flask scaffold
# flask_cors # to manage CORS within Flask
# geojson # for secondary map
# gunicorn # for docker
click==8.1.7
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JSON==0.3.4
geojson==2.5.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==2.0.1
simplejson==3.17.2
six==1.16.0
Werkzeug==0.16.1

