# Python modules needed for the application
simplejson # for Decimal datatype
mysqlclient # for MySQL DB connection
Flask-JSON # for Flask scaffold
flask_cors # to manage CORS within Flask
geojson # for secondary map
gunicorn # for docker