<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" >

    <!-- Bootstrap libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.14/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"></script>

    <!-- leaflet stylesheet and code -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <!-- map history control plugin (https://github.com/cscott530/leaflet-history)-->
    <link rel="stylesheet" type="text/css" href="static/css/leaflet-history.css">
    <script type="text/javascript" src="static/js/leaflet-history.js"></script>

    <!-- secondary map -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!-- Include this library for mobile touch support  -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <!-- Date pickers -->
    <link href="{{url_for('static', filename='css/daterangepicker.css') }}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/660b9c8da8.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/daterangepicker.js') }}"></script>
    <!-- TimeDimension from https://github.com/socib/Leaflet.TimeDimension -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />

    <!-- Charts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>  
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>  
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <!-- Shapes -->
    <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>
    <script src="{{url_for('static', filename='js/leaflet.shpfile.js') }}"></script>

    <!-- Other libraries -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    
</head>

<!-- statuses of the page -->
<script type="text/javascript">

    var parameters = {
        dateFrom: new Date(),
        dateTo: new Date(),
        center: [8.55611, 38.9741666],
        max_zoom: 18,
        initial_zoom: 11,
        refresh_interval: 5,
        refresh: false,
    }

    var shpfile;
    var diseases = [];
    var disease_list = [];
    var disease_list_filter = []; //[461,424];
    var locations = [];

    var geoshapes = new L.geoJson();
    var geoshapes = new L.geoJson();
    var layerGroup = new L.featureGroup();
    var mapController = new L.control.layers();
    var legenda = L.control({position: 'bottomright'});

</script>

<body>
    <div class="container-fluid">
        <hr>
        <h2>Real-time Monitoring</h2>
        <hr>
        <div class="row">
            <div class="col">
                {% include "time_selectors.html" %}
            </div>
            <div class="col">
                {% include "main_filter.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include "map.html" %}
            </div>
            <div class="col">
                {% include "disease_list.html" %}
            </div>
        </div>

        <!-- <h2>DataTable</h2> -->
        <div class="row">
            <div class="col">
                {% include "primary_table.html" %}
            </div>
            <div class="col">
                {{ empty_space }}
            </div>
        </div>
    </div>
    <br/>
    
    <div class="container-fluid">
        <hr>        
        <h2>Historical Data</h2>
        <hr>        
        <div class="row">
            <div class="col-6">
                {% include "time_selectors2.html" %}
            </div>
            <div class="col-6">
                {% include "secondary_filter.html" %} 
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% include "secondary_map.html" %}
            </div>
            <div class="col-6">
                {% include "graphs.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- {% include "controls.html" %} -->
            </div>
            <div class="col">
                {{ empty_space }}
            </div>
        </div>
    </div>

    <hr>
    <hr>
    <hr>

    <footer id="bottom" class="row text-center fixed-bottom">
        <div class="col-12">
        Survethi-Monitoring-Tool v0.1 - Copyright &copy; 2020 Informatici Senza Frontiere
        </div>
    </footer>
</body>

<!-- Bootstrap Table stylesheets and code -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<link href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>


<style type="text/css">
    #mapid { position: relative; }
    .legend {
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .notloading { display: none; }
    .loading {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: white; border: solid 1px black; padding: 0.1em 1em 0.1em 1em;
        font-family: Verdana,Arial,'Lucida Grande',Sans-Serif;
    }
    .list-group{
        max-height: 300px;
        margin-bottom: 10px;
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
    }

    #bottom {background: grey; color: white;}
</style>


<!-- events and functions of the page -->
<script type="text/javascript">
    
    /**
     * (function) initialize components
     */
    function initialize(){
        load_secondaryShapefile(); //we load in memory the shapefile only for the secondmap
        fetch_diseases();
        fetch_locations();
        var button_refresh = $('#button_refresh');
        if (!parameters.refresh) {
            button_refresh.removeClass('btn-outline-success');
            button_refresh.addClass('btn-danger');
            button_refresh.html('Stopped');
        } else {
            button_refresh.addClass('btn-outline-success');
            button_refresh.removeClass('btn-danger');
            button_refresh.html('Refreshing');
        }
        var toggle_range = $('#toggle_range');
        parameters.refresh_interval = $('#select_interval').val() * 60; // minutes
        refresh(true);
        var newUrl = get_url_epoch('query_epoch_json')
        show_epoch_data(newUrl);
    }

    /*
     * (function) get shape file with Ethiopian's regions
     */ 
    function load_shapefile() {
        shpfile = new L.Shapefile("{{url_for('static', filename='shapes/survethi-monitoring-tool.zip') }}", {
			onEachFeature: function(feature, layer) {
                //console.log(feature);
				if (feature.properties) {
					// we add our property for counting
                    feature.properties.hitCount=0;
				}
			}
        });
        console.log(shpfile);
        console.log(shpfile._layers);

        // shpfile.addTo(mymap);
        shpfile.once("data:loaded", function() {
             console.log("finished loaded shapefile");
             show_markers(filtered_data);
             show_legenda();
        });
        return shpfile;
    }

    function show_legenda() {
        
        //console.log('==> adding legenda');

        legenda.onAdd = function (mymap) {

            var div = L.DomUtil.create('div', 'info legenda'),
                labels = [];

            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 1) + ';' + 
                    'outline-style:solid; ' + 
                    'outline-width:0px; opacity:' + getOpacity(grades[i]+1) + ';">' + 
                    grades[i] + (grades[i + 1] ? '&nbsp;&ndash;&nbsp' + grades[i + 1] + 
                    '</i><br>' : '+');
                //console.log(div.innerHTML);
            }
            return div;
        };
        legenda.addTo(mymap);
    }

    /*
     * (function) fast filter, thanks to:
     * https://stackoverflow.com/a/32377529/5309541
     */ 
     function filterFast(data, ids, field) {
        if (ids.length == 0) return data;
        var index = ids.reduce(function(a,b) {a[b] = 1; return a;}, {});
        return data.filter(function(item) {
            return index[item[field]] === 1;
        });
    }

    /**
     * (function) Refresh function
     */
    function refresh(refresh) {
        if (refresh || parameters.refresh) {
            //alert('Refresh!');
            var newUrl = get_url();
            fetch_data(newUrl);
            myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
        }
    }

    /**
     * (function) build the url with parameters
     */
    function get_url() {
        var query =  'query_group';
        query = query.concat('/').concat(parameters.dateFrom.toISOString().split('T')[0]);
        query = query.concat('/').concat(parameters.dateTo.toISOString().split('T')[0]);
        //console.log(query);
        return query;
    }

    /**
     * (function) show loading indicators
     */
    function setLoading(loading) {
        if (loading) {
            $('#map-loading-indicator').attr("class","loading");
            $('#table_primary').bootstrapTable('showLoading');
        } else {
            $('#map-loading-indicator').attr("class","notloading");
            $('#table_primary').bootstrapTable('hideLoading')
        }
    }

    /**
     * (sync) fetch diseases
     */
    function fetch_diseases() {
        setLoading(true);
        $.ajax({
            url: 'diseases',
            success:function(data,status,xhr)
            {
                diseases = data;
                //console.log(diseases);
                reset_main_filter();
                reset_secondary_filter();
            },
            complete: function(){
                setLoading(false);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    /**
     * (sync) fetch locations
     */
     function fetch_locations() {
        setLoading(true);
        $.ajax({
            url: 'locations',
            success:function(data,status,xhr)
            {
                locations = data;
                //console.log(locations);
                reset_town_filter();
                //reset_kebele_filter();
            },
            complete: function(){
                setLoading(false);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    /**
     * (sync) fetch data from URL
     */
    function fetch_data(newUrl) {
        setLoading(true);
        $.ajax({
            url: newUrl,
            success:function(data,status,xhr)
            {
                //console.log(data);
                //alert(JSON.stringify(data[0]));
                filtered_data = filterFast(data, disease_list_filter, 'OPD_DIS_ID_A');
                //console.log(filtered_data);
                if (filtered_data.length > 0) {
                    load_shapefile();
                    //show_markers(filtered_data); deferred to load_shapefile().once()
                    update_table_data(filtered_data);
                    resetMainFilterTotals();
                    update_disease_list();
                    updateMainFilterTotals();
                } else {
                    cleanMap();
                    update_table_data(filtered_data);
                    clean_disease_list();
                    resetMainFilterTotals();
                }
            },
            complete: function(){
                setLoading(false);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    /**
     * (function) clean map removing layers and controllers
     */
    function cleanMap() {
        layerGroup.clearLayers();
        mymap.removeControl(mapController);
        mymap.removeControl(legenda);
        geoshapes.clearLayers();
    }

    /**
     * (function) update map adding layers and controllers
     */
    function show_markers(data) {

        cleanMap();

        var markersGroup1 = L.markerClusterGroup();
        var markerArray = [];
        disease_list = [];

        data.forEach(show_marker);

        var heatLayer = L.heatLayer(markerArray, {radius: 50})
        mapController = L.control.layers(null, {"Heat Map": heatLayer});

        layerGroup.addLayer(markersGroup1);
        layerGroup.addLayer(heatLayer);
        layerGroup.addTo(mymap);
        mymap.addControl(mapController);
        addShapeFile();

        if (Object.keys(markersGroup1.getBounds()).length === 0)
            console.log('Main Map: nothing to display');
        else {
            mymap.invalidateSize();
            mymap.flyToBounds(hitGeoshapes.getBounds());//.pad(10));
        }

        function show_marker(item, index) {

            if (item.LOC_RK_CODE > 0) {
            
                Object.values(shpfile._layers).forEach(function(thisFeature) {
                        
                    feature = thisFeature.feature;

                    // counting by Woreda
                    var rk_code = feature.properties.RK_CODE;

                    if (item.LOC_RK_CODE == rk_code) {
                        feature.properties.hitCount+=1;
                        //console.log(feature);
                    }
                });
            }

            if (item.LOC_LAT) {

                markerArray.push([item.LOC_LAT, item.LOC_LONG]);
                disease_list.push({'id': item.OPD_DIS_ID_A, 'desc': item.DIS_DESC, 'count': item.COUNT, 'unknown': 0});

                //console.log(JSON.stringify(item));
                var description = getMarkerDescription(item);
                markersGroup1.addLayer(
                    new L.marker([parseFloat(item.LOC_LAT), parseFloat(item.LOC_LONG)]).bindPopup(description)
                );
                //console.log(JSON.stringify(item));

                /* if (item.OPD_DIS_ID_A == "424")
                    markersGroup1.addLayer(
                        new L.marker([parseFloat(item.LOC_LAT), parseFloat(item.LOC_LONG)], 
                            {icon: L.icon({iconUrl: 'static/img/blue_icon.png', iconSize: [32, 32]})}).bindPopup(description));
                else if (item.OPD_DIS_ID_A == "461")
                    markersGroup1.addLayer(
                        new L.marker([parseFloat(item.LOC_LAT), parseFloat(item.LOC_LONG)], 
                            {icon: L.icon({iconUrl: 'static/img/pink_icon.png', iconSize: [32, 32]})}).bindPopup(description)); */
            } else {
                disease_list.push({'id': item.OPD_DIS_ID_A, 'desc': item.DIS_DESC, 'count': 0, 'unknown': item.COUNT});
            }
        }

        function getMarkerDescription(item) {
            if (item.COUNT) 
                return item.COUNT + "<br>" + item.LOC_CITY + "<br>" + item.LOC_ADDRESS + "<br>" + item.DIS_DESC
            else 
                return item.LOC_CITY + "<br>" + item.LOC_ADDRESS + "<br>" + item.DIS_DESC
        }

    }

    var grades = [0, 1, 5, 10, 15, 20, 25, 30];
    function buildBindPopupFirstMap(feature) {
        return "<b>" + feature.properties.RK_NAME + ": " + feature.properties.hitCount + "</b><br />" +
                    "<br />" +
                    "Kebele Code: " + feature.properties.RK_CODE + "<br />" +
                    "Woreda: " + feature.properties.W_NAME + "<br />" +
                    "Region: " + feature.properties.R_NAME + "<br />" +
                    "Zone: " + feature.properties.Z_NAME + "<br />";
    }

    function addShapeFile() {
        var hitShapes = {"type":"FeatureCollection","features":[]}
        var shapes = {"type":"FeatureCollection","features":[]}

        Object.values(shpfile._layers).forEach(function(thisFeature) {
                        
            feature = thisFeature.feature;

            if (feature.properties.hitCount > 0) {
                //console.log(feature);
                hitShapes.features.push(feature);
            } else {
                shapes.features.push(feature);
            }
        });
        //console.log(hitShapes);

        hitGeoshapes = L.geoJson(hitShapes, {
            style: style,
            onEachFeature: function(feature, layer) {
                //console.log(feature);
				if (feature.properties) {
                    layer.bindPopup(
                    buildBindPopupFirstMap(feature), {
						maxHeight: 200
                    });
				}
			}
        }).addTo(mymap);
        //console.log(hitGeoshapes);
        geoshapes = L.geoJson(shapes, {
            style: style,
            onEachFeature: function(feature, layer) {
                //console.log(feature);
				if (feature.properties) {
                    layer.bindPopup(
                        buildBindPopupFirstMap(feature), {
						maxHeight: 200
                    });
				}
			}
        }).addTo(mymap);
    }

    /*
     * (function) color sequence for hitGeoshapes 
     * https://colorbrewer2.org 
     */
    function getColor(d) {
        return d > grades[7] ? '#800026' :
            d > grades[6]  ? '#BD0026' :
            d > grades[5]  ? '#E31A1C' :
            d > grades[4]  ? '#FC4E2A' :
            d > grades[3]   ? '#FD8D3C' :
            d > grades[2]   ? '#FEB24C' :
            d > grades[1]   ? '#FED976' :
            d == grades[1]   ? '#FFEDA0' :
                        null;
    }

    /*
     * (function) color opacity for hitGeoshapes 
     */
     function getOpacity(d) {
        return d > 0 ? 0.5 : 0.1;
    }

    /*
     * (function) style sequence for geoshapes
     */
    function style(feature) {
        return {
            fillColor: getColor(feature.properties.hitCount),
            weight: 0.5,
            opacity: 1,
            color: 'white',
            //dashArray: '3',
            fillOpacity: getOpacity(feature.properties.hitCount),
        };
    }

    // Starts from here (main)
    $(document).ready(function (response) {

        initialize();
        myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
    });

</script>


</html>