<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <title>{{title}}</title>

    <!-- leaflet stylesheet and code -->
    <link href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script src="./static/js/leaflet-heat.js"></script>
    
</head>


<!-- statuses of the page -->
<script type="text/javascript">

    var parameters = {
        dateFrom: '2020-01-01',
        dateTo: '2020-01-31',
        center: [45.0485851,12.0318443],
        max_zoom: 18,
        initial_zoom: 11,
        refresh_interval: 5,
        refresh: false,
    }

    var layerGroup = new L.featureGroup();
    var mapController = new L.control.layers();

</script>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col col-5">
                        <div class="m-1 btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Today</button>
                            <button type="button" class="btn">1-3 Days</button>
                            <button type="button" class="btn">1 week</button>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col col-sm">
                        <button id="button_update" type="button" class="btn btn-success mt-1 float-right">Update</button>
                    </div>
                    <div class="col col-sm">
                        <button id="button_refresh" type="button" class="btn btn-outline-success mt-1 float-right">Refreshing</button>
                    </div>
                    <div class="col col-sm">
                        <select id="select_interval" class="custom-select mt-1 float-left">
                            <option value="{{refresh_intervals[0]}}" selected="true">{{refresh_intervals[0]}}min</option>
                            {% for interval in refresh_intervals[1:] %}
                                <option value="{{interval}}">{{interval}}min</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="m-1">
                    <div id="mapid"
                        style="height: 300px; position: relative; overflow: hidden"
                        class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
                        tabindex="0">
                            <div class="leaflet-pane leaflet-map-pane"
                                style="transform: translate3d(0px, 0px, 0px);">
                            </div>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="m-1">
                    Main Filter
                </div>
            </div>
        </div>



        <h2>DataTable</h2>
        <div class="row">
            <div class="col">
                <table
                    id="table_primary"
                    data-toggle="table"
                    data-pagination="true"
                    data-ajax="ajaxRequest"
                    data-page-size="5"
                    data-page-list="[5,10,20,50,All]"
                    data-search="false">
                    <thead>
                        <tr>
                            <th data-sortable="true" data-field="COUNT">Count</th>
                            <th data-sortable="true" data-field="DIS_DESC">Disease</th>
                            <th data-sortable="true" data-field="LOC_CITY">Woreda</th>
                            <th data-sortable="true" data-field="LOC_ADDRESS">Kebele</th>
                        </tr>
                    </thead>
                    <!-- {% for item in main_table %}
                        <tr>
                            <td>{{item.COUNT}}</td>
                            <td>{{item.DIS_DESC}}</td>
                            <td>{{item.LOC_CITY}}</td>
                            <td>{{item.LOC_ADDRESS}}</td>
                        </tr>
                    {% endfor %} -->
                </table>
            </div>
            <div class="col">
                {{ empty_space }}
            </div>
        </div>




        <hr>
        <div class="row">
            <div class="col">
                Secondary Map
            </div>
            <div class="col">
                Secondary Filter
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>

    <script>
        var mymap = L.map('mapid').setView(parameters.center, parameters.initial_zoom);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: parameters.max_zoom,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1Ijoibmljb3B1bnppIiwiYSI6ImNqamU5aHhrZzRqZWMzcW80ZjE3dWNwZnoifQ.6X2-0SFwNzx_mjXrk9cysw'
        }).addTo(mymap);
    </script>


<!-- events and functions of the page -->
<script type="text/javascript">
    
     /**
     * (event) Update button click event
     */
     $('#button_update').click(function(){
        fetch_data();
    });

    /**
     * (event) Refresh button click event
     */
    $('#button_refresh').click(function(){
        parameters.refresh = !parameters.refresh;
        $(this).toggleClass('btn-outline-success');
        $(this).toggleClass('btn-danger');
        if (!parameters.refresh) {
            //parameters.refresh = false;
            $(this).html('Stopped');
        } else {
            //parameters.refresh = true;
            $(this).html('Refreshing');
            if (myTimeout) clearTimeout(myTimeout);
            myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
        }
    });

    /**
     * (event) Selection interval event
     */
    $('#select_interval').on('change', function() {
        parameters.refresh_interval = this.value * 60; // minutes
        if (myTimeout) clearTimeout(myTimeout);
        myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
    });

    /**
     * (function) initialize components
     */
    function initialize(){
        var button_refresh = $('#button_refresh');
        if (!parameters.refresh) {
            button_refresh.removeClass('btn-outline-success');
            button_refresh.addClass('btn-danger');
            button_refresh.html('Stopped');
        } else {
            button_refresh.addClass('btn-outline-success');
            button_refresh.removeClass('btn-danger');
            button_refresh.html('Refreshing');
        }
        parameters.refresh_interval = $('#select_interval').val() * 60; // minutes
        mymap.addControl(new L.Control.Fullscreen());
    }

    /**
     * (function) Refresh function
     */
     function refresh() {
        if (parameters.refresh) {
            alert('Refresh!');
            fetch_data()
            myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
        }
    }

    // your custom ajax request here
    function ajaxRequest(params) {
        var url = 'http://127.0.0.1:5000/test_group'
        $.get(url+ '?' + $.param(params.data)).then(function (res) {
            params.success(res)
        })
    }

    function fetch_data(){

        $.ajax({
            url:"http://127.0.0.1:5000/test_group",
            success:function(data,status,xhr)
            {
                console.log(data[0]);
                alert(JSON.stringify(data[0]));
                show_markers(data);
            }
        })
    }

    function show_markers(data) {

        layerGroup.clearLayers();
        mymap.removeControl(mapController);

        var markersGroup1 = L.markerClusterGroup();
        var markerArray = [];

        data.forEach(show_marker);

        var heatLayer = L.heatLayer(markerArray, {radius: 50})
        mapController = L.control.layers(null, {"heatLayer": heatLayer});

        layerGroup.addLayer(markersGroup1);
        layerGroup.addLayer(heatLayer);
        layerGroup.addTo(mymap);
        mymap.addControl(mapController);

        mymap.flyToBounds(markersGroup1.getBounds().pad(10));

        function show_marker(item, index) {
            
            if (item.LOC_LAT) {

                markerArray.push([item.LOC_LAT, item.LOC_LONG]);

                var description = getMarkerDescription(item);
                if (item.OPD_DIS_ID_A == "1567")
                    markersGroup1.addLayer(
                        new L.marker([parseFloat(item.LOC_LAT), parseFloat(item.LOC_LONG)], 
                            {icon: L.icon({iconUrl: 'static/img/blue_icon.png', iconSize: [32, 32]})}).bindPopup(description));
                else if (item.OPD_DIS_ID_A == "782")
                    markersGroup1.addLayer(
                        new L.marker([parseFloat(item.LOC_LAT), parseFloat(item.LOC_LONG)], 
                            {icon: L.icon({iconUrl: 'static/img/pink_icon.png', iconSize: [32, 32]})}).bindPopup(description));
                /* else
                    markersGroup3.addLayer(
                        new L.marker([parseFloat(item.LOC_LAT), parseFloat(item.LOC_LONG)], 
                            {icon: L.icon({iconUrl: 'static/img/grey_icon.png', iconSize: [32, 32]})}).bindPopup(description)); */
            }
        }

        function getMarkerDescription(item) {
            if (item.COUNT) 
                return item.COUNT + "<br>" + item.LOC_CITY + "<br>" + item.LOC_ADDRESS + "<br>" + item.DIS_DESC
            else 
                return item.LOC_CITY + "<br>" + item.LOC_ADDRESS + "<br>" + item.DIS_DESC
        }

    }

    // Starts from here (main)
    $(document).ready(function (response) {

        initialize();
        myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
    });

</script>

</body>
</html>