<!doctype html>
<ul id="dynamic-list" class="list-group"></ul>
<script type="text/javascript">

    /**
     * (function) add disease to list
     */
    function addItemDisease(item, index){
        //console.log(item);
        var ul = document.getElementById("dynamic-list");
        var li = document.createElement("li");
        var span_totals = document.createElement("span");
        var span_sum = document.createElement("div");
        var span_unknown = document.createElement("div");
        
        li.setAttribute('id',item.id);
        li.setAttribute('class',"list-group-item list-group-item-action d-flex justify-content-between align-items-start py-1");
                
        span_sum.setAttribute('id','sum_'+item.id);
        span_sum.setAttribute('class',"badge badge-warning badge-pill ml-auto p-2 float-xs-right");
        span_unknown.setAttribute('id','unknown_'+item.id);
        span_unknown.setAttribute('class',"badge badge-secondary badge-pill ml-auto p-2 float-xs-right");

        if (item.unknown > 0) {
            span_unknown.appendChild(document.createTextNode(item.unknown));
            span_totals.appendChild(span_unknown);
            if (first_unknown_badge === undefined) {
                first_unknown_badge = span_unknown
            }
        }
        if (item.count > 0) {
            span_sum.appendChild(document.createTextNode(item.count));
            span_totals.appendChild(span_sum);
            if (first_known_badge === undefined) {
                first_known_badge = span_sum
            }
        }

        li.appendChild(document.createTextNode(item.desc));
        // li.appendChild(span_unknown);
        // li.appendChild(span_sum);
        li.appendChild(span_totals);
        
        ul.appendChild(li);

        main_filter_total_known = main_filter_total_known + item.count;
        main_filter_total_unknown = main_filter_total_unknown + item.unknown;
    }
    /*
        * (function) update disease list
        */
    function update_disease_list() {
        summarize_and_sort_list()
        clean_disease_list();
        disease_list.forEach(addItemDisease);
    }

    /*
        * (function) clean disease list
        */
    function clean_disease_list() {
        $('#dynamic-list').empty();
    }

    /*
     * (function) sum up 'count' with the same disease 'id'
     * and return sorted totals (reverse)
     */ 
    function summarize_and_sort_list() {
        unique_list = _.uniqBy(disease_list, 'id');
        unique_list.forEach(function(item, index) {

            this_disease_list = _.filter(disease_list, ['id', item.id]);
            sum = _.sumBy(this_disease_list, 'count');
            sum_unknown = _.sumBy(this_disease_list, 'unknown');
            
            objIndex = unique_list.findIndex((obj => obj.id == item.id));
            unique_list[objIndex].count = sum;
            unique_list[objIndex].unknown = sum_unknown;
        });
        // disease_list = _.sortBy(unique_list, 'count').reverse();
        disease_list = _.orderBy(unique_list, [
                            function (item) { return item.count + item.unknown; },
                            function (item) { return item.count; },
                            function (item) { return item.unknown; }
                            ], ["desc", "desc", "desc"]);
    }
</script>