<!doctype html>
<div class="container-fluid">
    <div class="chart-container">
        <div id="numberOfCases" style="width:100%; height:200px;"></div>
    </div>
    <div class="chart-container">
        <div id="numberOfCasesCumulative" style="width:100%; height:200px;"></div>
    </div>
</div>
<style>

    canvas {
        width: 100%;
        height: auto;
    }
    
    .chart-container {
        position: relative;
        margin: auto;
        height: 200px;
        /* width: 40vw; */
    }

</style>
<script>
    var default_x = getDates(parametersSecondMap.dateFrom, parametersSecondMap.dateTo);
    var default_y = new Array(default_x.length).fill(0);
    var label_x = [];
    var value_y = [];

    /*
     * (event) click on a graph (in general)
     */
    var clickOnGraphEvent = function (e) {
            //console.log('clicked!');
            var value = e.xAxis[0].axis.categories[Math.round(e.xAxis[0].value)];
            //console.log('date: ' + value);
            updateChartsPlotLines(value);
            mySecondaryMap.timeDimension.setCurrentTime(new Date(value).getTime());
        }
    
    /*
     * (event) click on a serie
     */
    var clickOnSerieEvent = function (e) {
            //console.log('clicked!');
            //console.log(e);
            var value = e.point.category;
            //console.log('date: ' + value);
            updateChartsPlotLines(value);
            mySecondaryMap.timeDimension.setCurrentTime(new Date(value).getTime());
        }

    var numberOfCases = Highcharts.chart('numberOfCases', {
        chart: {
                type: 'line',
                events: {
                    click: clickOnGraphEvent,
                },
            },
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical',
                y: 25,
                width: '20%',
            },
            title: {
                text: 'Number of Cases'
            },
            xAxis: {
                categories: default_x,
                plotLines: [{
                    color: 'red', // Color value
                    //dashStyle: 'longdashdot', // Style of the plot line. Default to solid
                    value: 0, // Value of where the line will appear
                    width: 2, // Width of the line
                }]
            },
            yAxis: {
                title: {
                    text: 'Cases'
                }
            },
            exporting: {
                buttons: {
                    contextButton: {
                        menuItems: ['viewFullscreen','downloadPNG', 'downloadXLS']
                    }
                }
            },
            series: [{
                name: 'Total',
                data: default_y
            }],
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    events: {
                        click: clickOnSerieEvent,
                    }
                }
            },

        });

    var numberOfCasesCumulative = Highcharts.chart('numberOfCasesCumulative', {
        chart: {
                type: 'column',
                events: {
                    click: clickOnGraphEvent,
                },
            },
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical',
                y: 25,
                width: '20%',
            },
            title: {
                text: 'Number of Cases Cumulative'
            },
            xAxis: {
                categories: default_x,
                plotLines: [{
                    color: 'red', // Color value
                    //dashStyle: 'longdashdot', // Style of the plot line. Default to solid
                    value: 0, // Value of where the line will appear
                    width: 2, // Width of the line 
                }]
            },
            yAxis: {
                title: {
                    text: 'Cases'
                }
            },
            exporting: {
                buttons: {
                    contextButton: {
                        menuItems: ['viewFullscreen','downloadPNG', 'downloadXLS']
                    }
                }
            },
            series: [{
                name: 'Total',
                data: default_y
            }],
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    events: {
                        click: clickOnSerieEvent,
                    }
                }
            },
        });

    /*
    * (function) update all charts
    */
    function updateCharts() {

        updateNumberOfCasesChart();
        updateNumberofCasesCumulativeChart();
    }

    /*
     * (function) update all charts plotlines
     */
    function updateChartsPlotLines(value) {
        updateChartLines(numberOfCases, value);
        updateChartLines(numberOfCasesCumulative, value);
    }

    /*
    * (function) creates an array of dates 
    */ 
    function getDates(startDate, stopDate) {
        var dateArray = [];
        var currentDate = moment(startDate);
        var stopDate = moment(stopDate);
        while (currentDate <= stopDate) {
            dateArray.push( moment(currentDate).format('YYYY-MM-DD') )
            currentDate = moment(currentDate).add(1, 'days');
        }
        return dateArray;
    }

    /*
     * (function) creates an array of values over an array of dates
     * reducing the global array 'second_data_set'
     */ 
    function getValues(dateArray) {
        var valueArray = new Array(dateArray.length).fill(0);
        //console.log('dateArray : ' + dateArray);
        //console.log('valueArray : ' + valueArray);
        
        for (var i = 0; i < second_data_set.length; i++) {
            var element = second_data_set[i];
            //console.log(element);

            var date = element.date;
            var index = dateArray.indexOf(date);
            if (index > -1) {
                value = valueArray[index];
                valueArray[index] = value + 1; 
                //console.log(date + ' --> ' + index + ' = ' + value);
            } else {
                console.log('error: date out of range? ' + date);
            }
        }
        return valueArray;
    }

    /*
    * (function) update numberOfCases chart
    */
    function updateNumberOfCasesChart() {
        console.log('updating Number of Cases graph...');
        //console.log('second_data_set : ' + second_data_set);

        var label_x = getDates(parametersSecondMap.dateFrom, parametersSecondMap.dateTo);
        var value_y = getValues(label_x);

        numberOfCases.update({
            xAxis: {
                categories: label_x,
            },
            series: [{
                name: 'Total',
                data: value_y,
            }]
        });
    }

    /*
     * (function) set new data to specified chart
     */
    function updateChartLines(chart, newValue) {

        //console.log(chart);
        //console.log(chart.xAxis[0].categories);

        var index = _.indexOf(chart.xAxis[0].categories, newValue);
        //console.log(newValue + '->' + index);
        if (index > -1) {
            chart.xAxis[0].plotLinesAndBands[0].options.value = index;
            chart.xAxis[0].update();
        }
    }

    /*
     * (function) creates an array of values over an array of dates
     * reducing the global array 'second_data_set'
     */ 
    function getValuesCumulative(dateArray) {
        var valueArray = new Array(dateArray.length).fill(0);
        //console.log('dateArray : ' + dateArray);
        //console.log('valueArray : ' + valueArray);
        
        for (var i = 0; i < second_data_set.length; i++) {
            var element = second_data_set[i];
            //console.log(element);

            var date = element.date;
            var index = dateArray.indexOf(date);
            if (index > -1) {
                value = valueArray[index];
                valueArray[index] = value + 1; 
                //console.log(date + ' --> ' + index + ' = ' + value);
            } else {
                console.log('error: date out of range? ' + date);
            }
        }
        return valueArray;
    }

    /*
    * (function) update numberOfCasesCumulative chart
    */
    function updateNumberofCasesCumulativeChart() {
        console.log('updating Number of Cases Cumulative graph...');
        //console.log('second_data_set : ' + second_data_set);

        var label_x = getDates(parametersSecondMap.dateFrom, parametersSecondMap.dateTo);
        var value_y = getValues(label_x);
        //console.log(value_y);
        var value_y_c = [];
        value_y.reduce(function(a,b,i) { return value_y_c[i] = a + b; },0);
        //console.log(value_y_c);

        numberOfCasesCumulative.update({
            xAxis: {
                categories: label_x,
            },
            series: [{
                name: 'Total',
                data: value_y_c,
            }]
        });
    }

</script>