<!doctype html>
<div class="container-fluid">
    <div class="chart-container">
        <div id="numberOfCases" style="width:100%; height:200px;"></div>
    </div>
    <div class="chart-container">
        <div id="numberOfCasesCumulative" style="width:100%; height:200px;"></div>
    </div>
</div>
<style>

    canvas {
        width: 100%;
        height: auto;
    }
    
    .chart-container {
        position: relative;
        margin: auto;
        height: 200px;
        /* width: 40vw; */
    }

</style>
<script>
    var default_x = getDates(parametersSecondMap.dateFrom, parametersSecondMap.dateTo);
    var default_y = new Array(default_x.length).fill(0);
    var label_x = [];
    var value_y = [];

    /*
     * (event) click on a graph (in general)
     */
    var clickOnGraphEvent = function (e) {
            //console.log('clicked!');
            var value = e.xAxis[0].axis.categories[Math.round(e.xAxis[0].value)];
            //console.log('date: ' + value);
            updateChartsPlotLines(value);
            mySecondaryMap.timeDimension.setCurrentTime(new Date(value).getTime());
        }
    
    /*
     * (event) click on a serie
     */
    var clickOnSerieEvent = function (e) {
            //console.log('clicked!');
            //console.log(e);
            var value = e.point.category;
            //console.log('date: ' + value);
            updateChartsPlotLines(value);
            mySecondaryMap.timeDimension.setCurrentTime(new Date(value).getTime());
        }

    var numberOfCases = Highcharts.chart('numberOfCases', {
        chart: {
                type: 'line',
                events: {
                    click: clickOnGraphEvent,
                },
            },
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical',
                y: 25,
                width: '20%',
            },
            title: {
                text: 'Number of Cases'
            },
            xAxis: {
                categories: default_x,
                plotLines: [{
                    color: 'red', // Color value
                    //dashStyle: 'longdashdot', // Style of the plot line. Default to solid
                    value: 0, // Value of where the line will appear
                    width: 2, // Width of the line
                }]
            },
            yAxis: {
                title: {
                    text: 'Cases'
                },
            },
            exporting: {
                buttons: {
                    contextButton: {
                        menuItems: ['viewFullscreen','downloadPNG', 'downloadXLS']
                    },
                    showButton: {
                        text: 'Show All',
                        onclick: function () {
                            var series = numberOfCases.series;
                            series.forEach(function(serie) {
                                serie.show();
                            });
                        }
                    },
                    hideButton: {
                        text: 'Hide',
                        onclick: function () {
                            var series = numberOfCases.series;
                            series.forEach(function(serie) {
                                serie.hide();
                            });
                        }
                    },
                }
            },
            series: [{
                name: 'Total',
                color: '#000000',
                data: default_y
            }],
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    events: {
                        click: clickOnSerieEvent,
                    }
                }
            },
            
        });

    var numberOfCasesCumulative = Highcharts.chart('numberOfCasesCumulative', {
        chart: {
                type: 'column',
                events: {
                    click: clickOnGraphEvent,
                },
            },
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical',
                y: 25,
                width: '20%',
            },
            title: {
                text: 'Number of Cases Cumulative'
            },
            xAxis: {
                categories: default_x,
                plotLines: [{
                    color: 'red', // Color value
                    //dashStyle: 'longdashdot', // Style of the plot line. Default to solid
                    value: 0, // Value of where the line will appear
                    width: 2, // Width of the line 
                }]
            },
            yAxis: {
                title: {
                    text: 'Cases'
                },
            },
            exporting: {
                buttons: {
                    contextButton: {
                        menuItems: ['viewFullscreen','downloadPNG', 'downloadXLS']
                    },
                    showButton: {
                        text: 'Show All',
                        onclick: function () {
                            var series = numberOfCasesCumulative.series;
                            series.forEach(function(serie) {
                                serie.show();
                            });
                        }
                    },
                    hideButton: {
                        text: 'Hide',
                        onclick: function () {
                            var series = numberOfCasesCumulative.series;
                            series.forEach(function(serie) {
                                serie.hide();
                            });
                        }
                    },
                }
            },
            series: [{
                name: 'Total',
                data: default_y
            }],
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    events: {
                        click: clickOnSerieEvent,
                    }
                }
            },
        });

    /*
    * (function) update all charts
    */
    function updateCharts() {

        updateNumberOfCasesChart();
        updateNumberofCasesCumulativeChart();
    }

    /*
     * (function) update all charts plotlines
     */
    function updateChartsPlotLines(value) {
        updateChartLines(numberOfCases, value);
        updateChartLines(numberOfCasesCumulative, value);
    }

    /*
    * (function) creates an array of dates 
    */ 
    function getDates(startDate, stopDate) {
        var dateArray = [];
        var currentDate = moment(startDate);
        var stopDate = moment(stopDate);
        while (currentDate <= stopDate) {
            dateArray.push( moment(currentDate).format('YYYY-MM-DD') )
            currentDate = moment(currentDate).add(1, 'days');
        }
        return dateArray;
    }

    /*
     * (function) creates an array of values over an array of dates
     * reducing the global array 'second_data_set'
     */ 
    function getValues(dateArray) {
        var valueArray = new Array();
        //console.log('dateArray : ', dateArray);
        //console.log('valueArray : ' + valueArray);

        valueArray = _.map(dateArray, function(date) {
            casesInDate = _.filter(second_data_set, ['date',date]);
            //console.log('casesInDate : ', casesInDate);
            return casesInDate.length;
        });
        //console.log('valueArray : ', valueArray);
        //console.log('total : ', _.sum(valueArray));
        
        return valueArray;
    }

    /*
     * (function) creates an array of arrays over an array of dates
     * reducing the global array 'second_data_set' into different series,
     * one for each disease
     */ 
    function getSeries(dateArray) {
        var seriesArray = new Array();
        //console.log('second_data_set : ', second_data_set);

        diseaseArray = _.groupBy(second_data_set, 'disease');
        //console.log('diseaseArray : ', diseaseArray);

        //var isolate_disease = '218';

        _.forEach(diseaseArray, function(thisDisease) {
            //if (thisDisease[0].disease == isolate_disease) console.log(thisDisease);
            thisSerie = _.map(dateArray, function(date) {
                //if (thisDisease[0].disease == isolate_disease) console.log(date)
                thisCount = _.countBy(thisDisease, function(disease) {
                    //if (thisDisease[0].disease == isolate_disease) console.log(disease.date == date);
                    return disease.date == date;
                });
                //if (thisDisease[0].disease == isolate_disease) console.log(thisCount);
                return thisCount.true || 0
            });
            //if (thisDisease[0].disease == isolate_disease) console.log(thisSerie);
            total = _.sum(thisSerie);
            seriesArray.push({'disease': thisDisease[0].disease, 'serie': thisSerie, 'total': total});
        })
        //console.log(seriesArray);
        var sortedArray = _.reverse(_.sortBy(seriesArray, 'total'));
        //console.log('sorted : ' , sortedArray);
        var topTen = _.slice(sortedArray, 0, 10);
        //console.log('topTen : ' , topTen);
        return topTen;
    }

    /*
    * (function) update numberOfCases chart
    */
    function updateNumberOfCasesChart() {
        console.log('updating Number of Cases graph...');
        //console.log('second_data_set : ' + second_data_set);

        var title = updateTitleOpdIpd('Number of Cases');
        var label_x = getDates(parametersSecondMap.dateFrom, parametersSecondMap.dateTo);
        var value_y = getValues(label_x);
        var topTen = getSeries(label_x);

        while(numberOfCases.series.length > 1) { //remove all except the first
            numberOfCases.series[1].remove(true);
        }
        numberOfCases.update({
            xAxis: {
                categories: label_x,
            },
            series: [{
                name: 'Total (' + _.sum(value_y) + ')',
                data: value_y,
            }],
            title: {
                text: title,
            },
        })
        if (topTen.length > 1) { //if more than one disease
            for (i = 0; i < topTen.length; i++) {
                numberOfCases.addSeries({
                    name: topTen[i].disease + ' (' + topTen[i].total + ') ',
                    data: topTen[i].serie,
                });
            }
        } 
    }

    /*
     * (function) set new data to specified chart
     */
    function updateChartLines(chart, newValue) {

        //console.log(chart);
        //console.log(chart.xAxis[0].categories);

        var index = _.indexOf(chart.xAxis[0].categories, newValue);
        //console.log(newValue + '->' + index);
        if (index > -1) {
            chart.xAxis[0].plotLinesAndBands[0].options.value = index;
            chart.xAxis[0].update();
        }
    }

    /*
     * (function) creates an array of values over an array of dates
     * reducing the global array 'second_data_set'
     */ 
    function getValuesCumulative(dateArray) {
        var valueArray = new Array(dateArray.length).fill(0);
        //console.log('dateArray : ' + dateArray);
        //console.log('valueArray : ' + valueArray);
        
        for (var i = 0; i < second_data_set.length; i++) {
            var element = second_data_set[i];
            //console.log(element);

            var date = element.date;
            var index = dateArray.indexOf(date);
            if (index > -1) {
                value = valueArray[index];
                valueArray[index] = value + 1; 
                //console.log(date + ' --> ' + index + ' = ' + value);
            } else {
                console.log('error: date out of range? ' + date);
            }
        }
        return valueArray;
    }

    function updateTitleOpdIpd(title) {
        let checkbox_opd_selected = document.getElementById("filterOPD2").checked;
        let checkbox_ipd_selected = document.getElementById("filterIPD2").checked;
        if (checkbox_opd_selected && checkbox_ipd_selected) {
            return title += ' OPD / IPD'
        }
        if (checkbox_opd_selected) {
            title += ' OPD'
        }
        if (checkbox_ipd_selected) {
            title += ' IPD'
        }
        return title;
    }

    /*
    * (function) update numberOfCasesCumulative chart
    */
    function updateNumberofCasesCumulativeChart() {
        console.log('updating Number of Cases Cumulative graph...');
        //console.log('second_data_set : ' + second_data_set);

        var title = updateTitleOpdIpd('Number of Cases Cumulative');
        var label_x = getDates(parametersSecondMap.dateFrom, parametersSecondMap.dateTo);
        var value_y = getValues(label_x);
        var topTen = getSeries(label_x);
        //console.log(value_y);
        //console.log(topTen);
        var value_y_c = [];
        var topTen_c = [];
        value_y.reduce(function(a,b,i) { return value_y_c[i] = a + b; },0);
        topTen.forEach(function(item, index) {
            //console.log(item);
            var serie = []
            item.serie.reduce(function(a,b,i) {return serie[i] = a + b; }, 0 );
            topTen_c[index] = {'disease': item.disease, 'serie': serie, 'total': item.total };
        });
        //console.log(value_y_c);
        //console.log(topTen_c);
        while(numberOfCasesCumulative.series.length > 1) { //remove all except the first
            numberOfCasesCumulative.series[1].remove(true);
        }
        numberOfCasesCumulative.update({
            xAxis: {
                categories: label_x,
            },
            series: [{
                name: 'Total (' + _.sum(value_y) + ')',
                data: value_y_c,
            }],
            title: {
                text: title,
            },
        });
        if (topTen.length > 1) { //if more than one disease
            for (i = 0; i < topTen.length; i++) {
                numberOfCasesCumulative.addSeries({
                    name: topTen_c[i].disease + ' (' + topTen_c[i].total + ') ',
                    data: topTen_c[i].serie,
                });
            }
        } 
    }

</script>