<!doctype html>
<div class="row">
    <div class="col">
        <select id="main_filter" 
            class="selectpicker mt-1"
            title="Choose the diseases to be shown..." 
            data-style="btn-info"
            data-width="auto"
            data-header="Select the diseases to be shown..."
            data-actions-box="true"
            multiple 
            data-live-search="true"
            data-live-search-normalize="true"
            data-live-search-style="contains"
            data-live-search-placeholder="type disease number or part of the name..."
            data-selected-text-format="count">
        </select>
    </div>
    <div id="main-filter-loading-indicator" class="notloading">Will reload...</div>
    <div class="col text-right">
        <div id="total_total" class="badge badge-primary badge-pill ml-auto p-2 float-xs-right" style="border-style:solid;color:#007bff;background-color:#ffffff"></div>
        <div id="total_kebele" class="badge badge-warning badge-pill ml-auto p-2 float-xs-right"></div>
        <div id="total_woreda" class="badge badge-pill ml-auto p-2 float-xs-right" style="color:#fff;background-color:#238b45"></div>
        <div id="total_unknown" class="badge badge-secondary badge-pill ml-auto p-2 float-xs-right"></div>
    </div>
</div>

<script type="text/javascript">

    /*
     * WHO Priority Diseases
     *
     * Missing codes for:
     * - Chikungunya
     * - Plague
     * - Rift Valley Fever
     * - Marburg
     * - Buruli Ulcer
     * - Noma
     * - Adverse events following immunization (AEFI)
     * - Trypanosomiasis
     * 
     * Arbitrary Excluded (there are multiple definitions):
     * - All type of Diabetes
     * - All type of HIV/AIDS (new cases)
     * - All type of Hypertension
     * - All type of Injuries
     * - All type of Malaria
     * - All type of Malnutrition
     * - All type of Maternal Deaths 
     * - All type of Mental health
     * - All type of Pneumonia
     * - All type of Trachoma
     * - All type of Tuberculosis
     * 
     * current resultset:
     * 1 - Cholera
     * 8 - Diarrhea (Shigellosis due to Shigella dysenteriae)
     * 55 - Anthrax
     * 56 - Leprosy (Tuberculoid leprosy)
     * 57 - Leprosy (Borderline leprosy)
     * 58 - Leprosy (Lepromatous leprosy)
     * 59 - Leprosy (Leprosy, unspecified)
     * 61 - Tetanus (Tetanus neonatorum)
     * 64 - Meningitis (Meningococcal meningitis)
     * 110 - Typhus fever
     * 111 - Typhus fever (Epidemic louse-borne typhus fever due to Rickettsia prowazekii)
     * 112 - Typhus fever, unspecified
     * 113 - Poliomyelitis (Acute poliomyelitis)
     * 114 - Poliomyelitis (Acute paralytic poliomyelitis, vaccine-associated)
     * 115 - Acute paralytic poliomyelitis, wild virus, imported
     * 116 - Acute paralytic poliomyelitis, wild virus, indigenous
     * 117 - Poliomyelitis (Acute nonparalytic poliomyelitis)
     * 118 - Acute poliomyelitis, unspecified
     * 119 - Rabies (Rabies, unspecified)
     * 120 - Haemorrhagic Fevers (Dengue fever [classical dengue])
     * 122 - Haemorrhagic Fevers (Yellow fever)
     * 125 - Ebola (Other specified viral haemorrhagic fevers)
     * 137 - Smallpox
     * 138 - Measles
     * 139 - Measles (Measles with other complications)
     * 140 - Measles (Measles without complication)
     * 146 - Hepatitis (Acute viral hepatitis, unspecified)
     * 147 - Hepatitis (Chronic viral hepatitis)
     * 148 - Hepatitis C (Other chronic viral hepatitis)
     * 205 - Dracunculiasis (Guinea worm)
     * 206 - Onchocerciasis
     * 207 - Filariasis
     * 208 - Elephantiasis (Filariasis due to Wuchereria bancrofti)
     * 228 - Poliomyelitis (Sequelae of poliomyelitis)
     * 229 - Leprosy (Sequelae of leprosy)
     * 634 - Avian influenza-h5n1 (Other acute upper respiratory infections)
     * 635 - Pandemic influenza A-h1n1 (Other acute upper respiratory infections of multiple sites)
     * 636 - Respiratory Infection (Acute upper respiratory infection, unspecified)
     * 637 - Influenza (Influenza, virus not identified)
     * 1848 - Severe acute respiratory syndrome [SARS]
     */ 
    var who_diseases_list = [55,1,120,8,138,139,140,64,634,635,636,637,110,111,112,122,125,205,229,56,57,58,59,207,208,61,206,113,114,115,116,117,118,228,137,1848,146,147,148,119];

    var main_filter_total_total = 0;
    var main_filter_total_kebele = 0;
    var main_filter_total_woreda = 0;
    var main_filter_total_unknown = 0;
    var first_total_badge;
    var first_kebele_badge;
    var first_woreda_badge;
    var first_unknown_badge;

    var update_main_filter = false;

    function updateMainFilterTotals() {
        //resetMainFilterTotals();
        var total_total = document.getElementById("total_total");
        var total_kebele = document.getElementById("total_kebele");
        var total_woreda = document.getElementById("total_woreda");
        var total_unknown = document.getElementById("total_unknown");
        //console.log('first_total_badge : ', first_total_badge);
        //console.log('first_kebele_badge : ', first_kebele_badge);
        //console.log('first_woreda_badge : ', first_woreda_badge);
        //console.log('first_unknown_badge : ', first_unknown_badge);
        $('#total_total').empty();
        $('#total_kebele').empty();
        $('#total_woreda').empty();
        $('#total_unknown').empty();

        //TODO: optimize badge positions calculation: maybe there is a better way to layout badges one beside each other
        if (main_filter_total_total > 0) {
            total_total.appendChild(document.createTextNode(main_filter_total_total));
            $("#total_total").position({
                my:        "right",
                at:        "right",
                of:        first_total_badge,
                collision: "fit"
            });
            $("#total_total").css('top', 10);
        }
        if (main_filter_total_kebele > 0) {
            total_kebele.appendChild(document.createTextNode(main_filter_total_kebele));
            $("#total_kebele").position({
                my:        "right",
                at:        "left",
                of:        total_total,
                collision: "fit"
            });
            $("#total_kebele").css('top', 10);
        }
        if (main_filter_total_woreda > 0) {
            total_woreda.appendChild(document.createTextNode(main_filter_total_woreda));
            if (main_filter_total_kebele > 0) {
                $("#total_woreda").position({
                    my:        "right",
                    at:        "left",
                    of:        total_kebele,
                    collision: "fit"
                });
                $("#total_woreda").css('top', 10);
            } else {
                $("#total_woreda").position({
                    my:        "right",
                    at:        "left",
                    of:        total_total,
                    collision: "fit"
                });
                $("#total_woreda").css('top', 10);
            }
        }
        if (main_filter_total_unknown > 0) {
            total_unknown.appendChild(document.createTextNode(main_filter_total_unknown));
            if (main_filter_total_woreda > 0) {
                $("#total_unknown").position({
                    my:        "right",
                    at:        "left",
                    of:        total_woreda,
                    collision: "fit"
                });
            } else if (main_filter_total_kebele > 0) {
                $("#total_unknown").position({
                    my:        "right",
                    at:        "left",
                    of:        total_kebele,
                    collision: "fit"
                });
            } else {
                $("#total_unknown").position({
                    my:        "center",
                    at:        "center",
                    of:        total_total,
                    collision: "fit"
                });
            }
            $("#total_unknown").css('top', 10);
        }
    }

    function resetMainFilterTotals() {
        $('#total_total').empty();
        $('#total_kebele').empty();
        $('#total_woreda').empty();
        $('#total_unknown').empty();
        main_filter_total_total = 0;
        main_filter_total_kebele = 0;
        main_filter_total_woreda = 0;
        main_filter_total_unknown = 0;
        first_total_badge = undefined;
        first_kebele_badge = undefined;
        first_woreda_badge = undefined;
        first_unknown_badge = undefined;
    }

    /*
     * (function) Make option item for the filter
     */
    function main_filter_make_option(value, text) {
        return '<option value="'+value+'">'+text.substring(0, 50)+'</option>';
    }

    /*
     * (function) Make option 'disabled' item (title) for the filter
     */
     function main_filter_make_option_selected(value, text) {
        return '<option selected value="'+value+'">'+text.substring(0, 50)+'</option>';
    }

    /*
     * (function) Reset the main filter
     */
    function reset_main_filter() {
        main_filter = $("#main_filter");
        main_filter.find('option').remove().end();
        all_diseases_count = diseases.length;
        who_diseases_count = who_diseases_list.length;

        //TODO: add pre-set filters
        // main_filter.append(main_filter_make_option('Clear','Clear all'));
        // main_filter.append(main_filter_make_option('All','Select all ('+all_diseases_count+')'));
        main_filter.append(main_filter_make_option('WHO','WHO Priority Diseases ('+who_diseases_count+')'));
        //main_filter.append(main_filter_make_option('TopTen','Top Ten Diseases (10)'));
        main_filter.append('<option id="data-divider" data-divider="true"></option>');
        
        diseases.forEach(function (item, index) {
            main_filter.append(main_filter_make_option(item.DIS_ID_A,item.DIS_DESC));
            //console.log(item);
        });
        main_filter.selectpicker('refresh');
    }
    
    /*
     * (event) when the change the filter selection
     */
    $('#main_filter').on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
        $('#main-filter-loading-indicator').attr("class","loading");
        update_main_filter = true;
        var selected = $('#main_filter').val();
        // var lastSelected = $(this).find('option').eq(clickedIndex).val();
        // console.log('selected : ' + selected); //Get the multiple values selected in an array
        // console.log(selected.length); //Length of the array
        // console.log('last : ' + lastSelected);

        if (selected == "WHO") disease_list_filter = who_diseases_list
        //else if (selectred == "TopTen") disease_list_filter

        else disease_list_filter = selected;
        //console.log('disease_list_filter : ' + disease_list_filter);
    });

    /*
     * (event) called when the user clicks outside the dropdown
     */
    $('#main_filter').on("hide.bs.select", function(e, clickedIndex, newValue, oldValue) {
        //console.log(e);
    });

    /*
     * (event) when the dropdown disappear the filtering can start
     */
    $('#main_filter').on("hidden.bs.select", function(e, clickedIndex, newValue, oldValue) {
        if (update_main_filter) {
            udpate_main_filter();
            refresh(true);
            update_main_filter = false;
            $('#main-filter-loading-indicator').attr("class","notloading");
        }
    });

    /*
     * (function) Update main filter
     */
    function udpate_main_filter() {
        console.log('updating filter...');
        reset_main_filter();
        main_filter = $("#main_filter");
        if (disease_list_filter.length > 0) {
            selected_options = filterFast(diseases, disease_list_filter, 'DIS_ID_A');
            //console.log('selected_options : ' + selected_options);
            selected_options.forEach(function (item, index) {
                main_filter.find('[value="'+item.DIS_ID_A+'"]').remove();
                main_filter.find('[id="data-divider"]').before(main_filter_make_option_selected(item.DIS_ID_A,item.DIS_DESC));
            });
            main_filter.selectpicker('refresh');
        } 
    }
</script>