<!doctype html>
<div class="row">
    <div class="col">
        <select id="main_filter" 
            class="selectpicker mt-1"
            title="Choose the diseases to be shown..." 
            data-style="btn-info"
            data-width="auto"
            data-header="Select the diseases to be shown..."
            data-actions-box="true"
            multiple 
            data-live-search="true"
            data-live-search-normalize="true"
            data-live-search-style="contains"
            data-live-search-placeholder="type disease number or part of the name..."
            data-selected-text-format="count">
        </select>
    </div>
    <div id="main-filter-loading-indicator" class="notloading">Will reload...</div>
    <div class="col text-right">
        <div id="total_total"></div>
        <div id="total_kebele"></div>
        <div id="total_woreda"></div>
        <div id="total_unknown"></div>
        <div id="total_ipd"></div>
        <div id="total_opd"></div>
    </div>
</div>

<script type="text/javascript">

    /*
     * WHO Priority Diseases
     *
     * Missing codes for:
     * - Rift Valley Fever
     * - Marburg
     * - Buruli Ulcer
     * - Noma
     * - Adverse events following immunization (AEFI)
     * 
     * Arbitrary Excluded (there are multiple definitions):
     * - All type of Diabetes
     * - All type of HIV/AIDS (new cases)
     * - All type of Hypertension
     * - All type of Injuries
     * - All type of Malaria
     * - All type of Malnutrition
     * - All type of Maternal Deaths 
     * - All type of Mental health
     * - All type of Pneumonia
     * - All type of Trachoma
     * - All type of Tuberculosis
     * 
     * current resultset:
     * 1A00 - Cholera
     * 1B11.0 - Tuberculous meningitis
     * 1B20.0 - Paucibacillary leprosy
     * 1B20.1 - Multibacillary leprosy
     * 1B20.2 - Leprosy reactions
     * 1B20.20 - Type I leprosy reaction
     * 1B20.21 - Type II leprosy reaction
     * 1B20.Z - Leprosy, unspecified
     * 1B53 - Meningitis due to Streptococcus
     * 1B93.Z - Plague, unspecified
     * 1B97 - Anthrax
     * 1C13 - Tetanus
     * 1C14 - Obstetrical tetanus
     * 1C15 - Tetanus neonatorum
     * 1C1C.0 - Meningococcal meningitis
     * 1C30.Z - Typhus fever, unspecified
     * 1C81 - Acute poliomyelitis
     * 1C82 - Rabies
     * 1D01.0 - Bacterial meningitis
     * 1D01.10 - Meningitis due to Cryptococcus neoformans
     * 1D01.1Z - Fungal meningitis, unspecified
     * 1D01.Z - Infectious meningitis not elsewhere classified, unspecified
     * 1D22 - Severe dengue
     * 1D2Z - Dengue fever, unspecified
     * 1D40 - Chikungunya virus disease
     * 1D47 - Yellow fever
     * 1D60.0 - Ebola disease
     * 1D64 - Middle East respiratory syndrome
     * 1D65 - Severe acute respiratory syndrome
     * 1D86 - Viral haemorrhagic fever, not elsewhere classified
     * 1E50 - Acute viral hepatitis
     * 1E50.0 - Acute hepatitis A
     * 1E50.1 - Acute hepatitis B
     * 1E50.2 - Acute hepatitis C
     * 1E50.4 - Acute hepatitis E
     * 1E51 - Chronic viral hepatitis
     * 1E51.Y - Other specified chronic viral hepatitis
     * 1F03 - Measles
     * 1F03.Y - Measles with other complications
     * 1F51 - African trypanosomiasis
     * 1F64 - Dracunculiasis
     * 1F66.3 - Lymphatic filariasis
     * 1F66.Z - Filariasis, unspecified
     * 1F6A - Onchocerciasis
     * 8E62 - Postprocedural meningitis
     * DD91.2 - Functional diarrhoea
     * ME05.1 - Diarrhoea
     */ 
    var who_diseases_list = ['1D40', '1B93.Z', '1A00', '1F51', 'DD91.2', 'ME05.1', '1B97', '1B20.0', '1B20.1', '1B20.2', '1B20.20', '1B20.21', '1B20.Z', '1C13', '1C14', '1C15', '1B11.0', '1B53', '1C1C.0', '1D01.0', '1D01.10', '1D01.1Z', '1D01.Z', '8E62', '1C30.Z', '1C81', '1C82', '1D86', '1D47', '1D22', '1D2Z', '1D60.0', '1F03', '1F03.Y', '1E50', '1E50.0', '1E50.1', '1E50.2', '1E50.4', '1E51', '1E51.Y', '1F64', '1F6A', '1F66.3', '1F66.Z', '1D64', '1D65'];

    /**
     * SARS-CoV-2 (and similar)
     *
     * current resultset:
     * 1B10.0 - Respiratory tuberculosis, confirmed
     * 1B10.1 - Respiratory tuberculosis, not confirmed
     * 1D64 - Middle East respiratory syndrome
     * 1D65 - Severe acute respiratory syndrome
     * 5C73.0 - Acute respiratory acidosis
     * 5C73.1 - Chronic respiratory acidosis
     * CA03.Z - Acute tonsillitis, unspecified
     * CA0K.1 - Peritonsillar abscess
     * CA0Z - Upper respiratory tract disorders, unspecified
     * CA20.1 - Chronic bronchitis
     * CA21 - Emphysema
     * CA23 - Asthma
     * CA23.30 - Unspecified asthma with exacerbation
     * CA23.31 - Unspecified asthma with status asthmaticus
     * CA24 - Bronchiectasis
     * CA27 - Tracheobronchitis
     * CA40 - Pneumonia
     * CA40.0 - Bacterial pneumonia
     * CA40.1 - Viral pneumonia
     * CA40.2 - Fungal pneumonia
     * CA40.20 - Pneumonia due to pneumocystis
     * CA42 - Acute bronchitis
     * CA81 - Respiratory conditions due to inhalation of chemicals, gases, fumes or vapours
     * CA82 - Respiratory conditions due to other external agents
     * CB00 - Acute respiratory distress syndrome
     * CB01 - Pulmonary oedema
     * CB40.Y - Other specified diseases of the respiratory system
     * CB41.0 - Acute respiratory failure
     * CB41.1 - Chronic respiratory failure
     * KB23.0 - Respiratory distress syndrome of newborn
     * KB2D - Respiratory failure of newborn
     * KB2E - Respiratory arrest of newborn
     * MD33 - Respiratory arrest
     */
    var covid_diseases_list = ['1B10.0', '1B10.1', '1D64', '1D65', '5C73.0', '5C73.1', 'CA0Z', 'CA81', 'CA82', 'CB00', 'CB40.Y', 'CB41.0', 'CB41.1', 'KB23.0', 'KB2D', 'KB2E', 'MD33', 'CA40', 'CA40.0', 'CA40.1', 'CA40.2', 'CA40.20', 'CA20.1', 'CA27', 'CA42', 'CA03.Z', 'CA0K.1', 'CA21', 'CA23', 'CA23.30', 'CA23.31', 'CA24', 'CB01'];

    /**
     * 1B10.0 - Respiratory tuberculosis, confirmed
     * 1B10.1 - Respiratory tuberculosis, not confirmed
     * 1B11.0 - Tuberculous meningitis
     * 1B11.3 - Tuberculous granuloma of brain
     * 1B11.Z - Tuberculosis of the nervous system, unspecified
     * 1B12.4 - Tuberculosis of the musculoskeletal system
     * 1B12.5 - Tuberculosis of the genitourinary system
     * 1B12.6 - Tuberculous peripheral lymphadenopathy
     * 1B12.7 - Tuberculosis of the digestive system
     * 1B12.Y - Tuberculosis of other specified organ or site
     * 1B13 - Miliary tuberculosis
     * 1B14 - Latent tuberculosis
     * 1B1Z - Tuberculosis, unspecified
     * 1C60 - Human immunodeficiency virus disease associated with tuberculosis
     * 1C62 - Human immunodeficiency virus disease without mention of tuberculosis or malaria
     * KA61.0 - Congenital tuberculosis
     */
    var tuberculosis_disease_list = ['1B10.0','1B10.1','1B11.0','1B11.3','1B11.Z','1B12.4','1B12.5','1B12.6','1B12.7','1B12.Y','1B13','1B14','1B1Z','1C60','1C62','KA61.0'];

    var main_filter_total_total = 0;
    var main_filter_total_kebele = 0;
    var main_filter_total_woreda = 0;
    var main_filter_total_unknown = 0;
    var main_filter_total_opd = 0;
    var main_filter_total_ipd = 0;
    var first_total_badge;
    var first_kebele_badge;
    var first_woreda_badge;
    var first_unknown_badge;
    var first_opd_badge;
    var first_ipd_badge;

    var update_main_filter = false;

    function updateMainFilterTotals(opdColor, ipdColor) {
        //resetMainFilterTotals();
        var total_total = document.getElementById("total_total");
        var total_kebele = document.getElementById("total_kebele");
        var total_woreda = document.getElementById("total_woreda");
        var total_unknown = document.getElementById("total_unknown");
        var total_opd = document.getElementById("total_opd");
        var total_ipd = document.getElementById("total_ipd");
        
        total_total.setAttribute('class',"badge badge-secondary badge-pill ml-auto p-2 float-xs-right");
        total_total.setAttribute('style',"border-style:solid;color:#007bff;background-color:#ffffff");
        total_opd.setAttribute('class',"badge badge-secondary badge-pill ml-auto p-2 float-xs-right");
        total_opd.setAttribute('style',"color:#fff;background-color:" + opdColor);
        total_ipd.setAttribute('class',"badge badge-secondary badge-pill ml-auto p-2 float-xs-right");
        total_ipd.setAttribute('style',"color:#fff;background-color:" + ipdColor);

        //console.log('first_total_badge : ', first_total_badge);
        //console.log('first_kebele_badge : ', first_kebele_badge);
        //console.log('first_woreda_badge : ', first_woreda_badge);
        //console.log('first_unknown_badge : ', first_unknown_badge);
        //console.log('first_opd_badge : ', first_opd_badge);
        //console.log('first_ipd_badge : ', first_ipd_badge);

        $('#total_total').empty();
        $('#total_kebele').empty();
        $('#total_woreda').empty();
        $('#total_unknown').empty();
        $('#total_opd').empty();
        $('#total_ipd').empty();

        //TODO: optimize badge positions calculation: maybe there is a better way to layout badges one beside each other
        if (main_filter_total_total > 0) {
            total_total.appendChild(document.createTextNode("T: " + main_filter_total_total));
            $("#total_total").position({
                my:        "right",
                at:        "right",
                of:        first_total_badge,
                collision: "fit"
            });
            $("#total_total").css('top', 10);
        }
        //console.log('main_filter_total_ipd : ' + main_filter_total_ipd)
        if (main_filter_total_ipd > 0) {
            total_ipd.appendChild(document.createTextNode("IPD: " + main_filter_total_ipd));
            $("#total_ipd").position({
                my:        "right",
                at:        "left",
                of:        total_total,
                collision: "fit"
            });
            $("#total_ipd").css('top', 10);
        }
        //console.log('main_filter_total_opd : ' + main_filter_total_opd)
        if (main_filter_total_opd > 0) {
            total_opd.appendChild(document.createTextNode("OPD: " + main_filter_total_opd));
            if (main_filter_total_ipd > 0) {
                $("#total_opd").position({
                    my:        "right",
                    at:        "left",
                    of:        total_ipd,
                    collision: "fit"
                });
                $("#total_opd").css('top', 10);
            } else {
                $("#total_opd").position({
                    my:        "right",
                    at:        "left",
                    of:        total_total,
                    collision: "fit"
                });
                $("#total_opd").css('top', 10);
            }
        }
        // if (main_filter_total_unknown > 0) {
        //     total_unknown.appendChild(document.createTextNode(main_filter_total_unknown));
        //     if (main_filter_total_woreda > 0) {
        //         $("#total_unknown").position({
        //             my:        "right",
        //             at:        "left",
        //             of:        total_woreda,
        //             collision: "fit"
        //         });
        //     } else if (main_filter_total_kebele > 0) {
        //         $("#total_unknown").position({
        //             my:        "right",
        //             at:        "left",
        //             of:        total_kebele,
        //             collision: "fit"
        //         });
        //     } else {
        //         $("#total_unknown").position({
        //             my:        "center",
        //             at:        "center",
        //             of:        total_total,
        //             collision: "fit"
        //         });
        //     }
        //     $("#total_unknown").css('top', 10);
        // }
    }

    function resetMainFilterTotals() {
        $('#total_total').empty();
        $('#total_kebele').empty();
        $('#total_woreda').empty();
        $('#total_unknown').empty();
        $('#total_opd').empty();
        $('#total_ipd').empty();
        main_filter_total_total = 0;
        main_filter_total_kebele = 0;
        main_filter_total_woreda = 0;
        main_filter_total_unknown = 0;
        main_filter_total_opd = 0;
        main_filter_total_ipd = 0;
        first_total_badge = undefined;
        first_kebele_badge = undefined;
        first_woreda_badge = undefined;
        first_unknown_badge = undefined;
        first_opd_badge = undefined;
        first_ipd_badge = undefined;
    }

    /*
     * (function) Make option item for the filter
     */
    function main_filter_make_option(value, text) {
        return '<option value="'+value+'">'+text+'</option>';
    }

    /*
     * (function) Make option 'disabled' item (title) for the filter
     */
    function main_filter_make_option_selected(value, text) {
        return '<option selected value="'+value+'">'+text+'</option>';
    }

    /*
     * (function) Reset the main filter
     */
    function reset_main_filter() {
        main_filter = $("#main_filter");
        main_filter.find('option').remove().end();
        all_diseases_count = diseases.length;
        who_diseases_count = who_diseases_list.length;
        covid_diseases_count = covid_diseases_list.length;
        tuberculosis_diseases_count = tuberculosis_disease_list.length;

        //TODO: add pre-set filters
        // main_filter.append(main_filter_make_option('Clear','Clear all'));
        // main_filter.append(main_filter_make_option('All','Select all ('+all_diseases_count+')'));
        main_filter.append(main_filter_make_option('WHO','WHO Priority Diseases ('+who_diseases_count+')'));
        main_filter.append(main_filter_make_option('COVID','SARS-CoV-2 ('+covid_diseases_count+')'));
        main_filter.append(main_filter_make_option('TB','Tuberculosis ('+tuberculosis_diseases_count+')'));
        //main_filter.append(main_filter_make_option('TopTen','Top Ten Diseases (10)'));
        main_filter.append('<option id="data-divider" data-divider="true"></option>');
        
        diseases.forEach(function (item, index) {
            main_filter.append(main_filter_make_option(item.DIS_ID_A,item.DIS_DESC));
            //console.log(item);
        });
        main_filter.selectpicker('refresh');
    }
    
    /*
     * (event) when the change the filter selection
     */
    $('#main_filter').on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
        $('#main-filter-loading-indicator').attr("class","loading");
        update_main_filter = true;
        var selected = $('#main_filter').val();
        // var lastSelected = $(this).find('option').eq(clickedIndex).val();
        // console.log('selected : ' + selected); //Get the multiple values selected in an array
        // console.log(selected.length); //Length of the array
        // console.log('last : ' + lastSelected);

        if (selected == "WHO") disease_list_filter = who_diseases_list
        else if (selected == "COVID") disease_list_filter = covid_diseases_list
        else if (selected == "TB") disease_list_filter = tuberculosis_disease_list

        else disease_list_filter = selected;
        //console.log('disease_list_filter : ' + disease_list_filter);
    });

    /*
     * (event) called when the user clicks outside the dropdown
     */
    $('#main_filter').on("hide.bs.select", function(e, clickedIndex, newValue, oldValue) {
        //console.log(e);
    });

    /*
     * (event) when the dropdown disappear the filtering can start
     */
    $('#main_filter').on("hidden.bs.select", function(e, clickedIndex, newValue, oldValue) {
        if (update_main_filter) {
            udpate_main_filter();
            refresh(true);
            update_main_filter = false;
            $('#main-filter-loading-indicator').attr("class","notloading");
        }
    });

    /*
     * (function) Update main filter
     */
    function udpate_main_filter() {
        console.log('updating filter...');
        reset_main_filter();
        main_filter = $("#main_filter");
        if (disease_list_filter.length > 0) {
            selected_options = filterFast(diseases, disease_list_filter, 'DIS_ID_A');
            //console.log('selected_options : ' + selected_options);
            selected_options.forEach(function (item, index) {
                main_filter.find('[value="'+item.DIS_ID_A+'"]').remove();
                main_filter.find('[id="data-divider"]').before(main_filter_make_option_selected(item.DIS_ID_A,item.DIS_DESC));
            });
            main_filter.selectpicker('refresh');
        } 
    }
</script>

<style>
    /* Custom CSS to set max-width for Selectpicker dropdown menu */
    .dropdown-menu.show {
        max-width: 600px; /* Adjust max-width as needed */
    }
</style>