<!doctype html>
<div id="mapid"
    style="height: 300px; position: relative; overflow: hidden"
    class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
    tabindex="0">
        <div class="leaflet-pane leaflet-map-pane"
            style="transform: translate3d(0px, 0px, 0px);">
        </div>
        <div id="map-loading-indicator" class="notloading">Loading...</div>
</div>
<script>
    var mymap = L.map('mapid').setView(parameters.center, parameters.initial_zoom);
    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: parameters.max_zoom,
    }).addTo(mymap);
    mymap.addControl(new L.Control.Fullscreen());
    new L.HistoryControl({}).addTo(mymap);
 </script>

