<!doctype html>

<div id="toolbar">
    <input id="filterOPD" type="checkbox" class="btn btn-primary" checked>
    <label id="labelForFilterOPD" for="filterOPD" class="badge">OPD</label>
    <input id="filterIPD" type="checkbox" class="btn btn-primary" checked>
    <label id="labelForFilterIPD" for="filterIPD" class="badge">IPD</label>
    <input id="filterZONAL" type="checkbox" class="btn btn-primary" unchecked>
    <label id="labelForFilterZONAL" for="filterZONAL" class="badge">Covid Zonal</label>
</div>
<table
    id="table_primary"
    data-show-export="true"
    data-export-types="['excel', 'xlsx', 'csv']"
    data-export-data-type="all"
    data-toggle="table"
    data-pagination="true"
    data-page-size="5"
    data-page-list="[5,10,20,50,All]"
    data-undefined-text=""
    data-search="false"
    data-toolbar="#toolbar"
    >
    <caption>Real-Time fetched data</caption>
    <thead>
        <tr>
            <th scope="col" data-sortable="true" data-field="TYPE">Type</th>
            <th scope="col" data-sortable="true" data-field="COUNT">Cases</th>
            <th scope="col" data-sortable="true" data-field="DIS_DESC">Disease</th>
            <th scope="col" data-sortable="true" data-field="PAT_CITY">Woreda/Town</th>
            <th scope="col" data-sortable="true" data-field="PAT_ADDR">Kebele</th>
            <th scope="col" data-sortable="true" data-field="LOC_W_CODE" data-cell-style="cellStyleWCODE">W_CODE</th>
            <th scope="col" data-sortable="true" data-field="LOC_RK_CODE" data-cell-style="cellStyleRKCODE">RK_CODE</th>
            <th scope="col" id="location" data-sortable="true" data-field="LOC_OK" data-cell-style="cellStylePH" data-width="1">HP</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

    var cellWoredaOPDcolor;
    var cellWoredaIPDcolor;
    var cellKebeleOPDcolor;
    var cellKebeleIPDcolor;

    var filter_opd = document.getElementById("labelForFilterOPD");
    var filter_ipd = document.getElementById("labelForFilterIPD");
    var filter_ZONAL = document.getElementById("labelForFilterZONAL");
    filter_opd.setAttribute('style',"color:#fff;background-color:" + kebeleOPDcolor);
    filter_ipd.setAttribute('style',"color:#fff;background-color:" + kebeleIPDcolor);
    filter_ZONAL.setAttribute('style',"color:#fff;background-color:" + woredaZONALcolor);

    $('#table_primary').on('click-cell.bs.table', function (field, value, row, record) {
        setLoading(true);
        click_on_table(record);
        setLoading(false);
    })

    $('#filterOPD').on('click', function () {
        console.log("clicked OPD");
        if ($('#filterOPD').prop('checked') && $('#filterZONAL').prop('checked')) {
            $('#filterIPD').prop('checked', true);
            $('#filterZONAL').prop('checked', false);
            refresh(true);
        }
    })
    
    $('#filterIPD').on('click', function () {
        console.log("clicked IPD");
        if ($('#filterIPD').prop('checked') && $('#filterZONAL').prop('checked')) {
            $('#filterOPD').prop('checked', true);
            $('#filterZONAL').prop('checked', false);
            refresh(true);
        }
    })

    $('#filterZONAL').on('click', function () {
        console.log("clicked ZONAL");
        if ($('#filterZONAL').prop('checked')) {
            $('#filterIPD').prop('checked', false);
            $('#filterOPD').prop('checked', false);
            refresh(true);
        }
    })

    function click_on_table(record) {
        //console.log(record);
        selected_dis = record['DIS_ID_A'];
        selected_rk = record['LOC_RK_CODE'];
        selected_w = record['LOC_W_CODE'];
        selected_type = record['TYPE'];
        //console.log('selected record: ' + selected_dis, selected_rk, selected_w);
        selectedShapes = {"type":"FeatureCollection","features":[]}

        //console.log(selected_rk);
        //console.log(selected_w);
        //console.log(selected_dis);
        //console.log(selected_type);

        mymap.eachLayer(function(layer) {
            click_on_table_select(layer, selected_dis, selected_rk, selected_w);
        });
        if (selectedShapes.features.length > 0) {
            selectedGeoShapes = L.geoJson(selectedShapes, {})
            mymap.flyToBounds(selectedGeoShapes.getBounds());
            update_disease_list();
        }
    }

    function click_on_table_select(layer, selected_dis, selected_rk, selected_w){
        if (layer.feature != undefined) {
            if (selected_rk != null) {
                if (selected_w == layer.feature.properties.W_CODE 
                    && selected_rk == layer.feature.properties.RK_CODE) {
                        // && layer.feature.properties.diseaselist.indexOf(selected_dis) >= 0) {
                            //console.log(layer.feature.properties.diseaselist, layer.feature.properties.RK_CODE, layer.feature.properties.W_CODE);
                            layer.setStyle({
                                fillOpacity: 0.5,
                            });
                            selectedShapes.features.push(layer.feature);
                            disease_list = [];
                            let temp_data = filterFast(loadedTableData, [selected_rk], 'LOC_RK_CODE');
                            temp_data = filterFast(temp_data, [selected_dis], 'DIS_ID_A');
                            temp_data = filterFast(temp_data, [selected_type], 'TYPE');
                            temp_data.forEach(item => {
                                addItemToDiseaseList(item);
                            });
                            update_table_data(temp_data, green_shades, green_shades);
                            //console.log(disease_list);
                } else {
                    layer.setStyle({
                        fillOpacity: 0,
                    });
                }
            } else if (selected_w != null) {
                if (selected_w == layer.feature.properties.W_CODE) {
                        // && layer.feature.properties.diseaselist.indexOf(selected_dis) >= 0) {
                            //console.log(layer.feature.properties.diseaselist, layer.feature.properties.RK_CODE, layer.feature.properties.W_CODE);
                            layer.setStyle({
                                fillOpacity: 0.5,
                            });
                            selectedShapes.features.push(layer.feature);
                            disease_list = [];
                            let temp_data = filterFast(loadedTableData, [selected_w], 'LOC_W_CODE');
                            temp_data = filterFast(temp_data, [selected_dis], 'DIS_ID_A');
                            temp_data = filterFast(temp_data, [selected_type], 'TYPE');
                            temp_data.forEach(item => {
                                addItemToDiseaseList(item);
                            });
                            update_table_data(temp_data, green_shades, green_shades);
                            //console.log(disease_list);
                } else {
                    layer.setStyle({
                        fillOpacity: 0,
                    });
                } 
            }
        }
    }

    /**
     * (function) update table with data
     */
    function clean_table_data() {
        update_table_data([], green_shades, green_shades)
    }

    /**
     * (function) update table with data
     */
    function update_table_data(data, opdColors, ipdColors) {
        if (opdColors.length > 5) {
            cellWoredaOPDcolor = opdColors[3];
            cellKebeleOPDcolor = opdColors[5];
        } else {
            cellWoredaOPDcolor = green_shades[3];
            cellKebeleOPDcolor = green_shades[5];
        }
        if (ipdColors.length > 5) {
            cellWoredaIPDcolor = ipdColors[3];
            cellKebeleIPDcolor = ipdColors[5];
        } else {
            cellWoredaIPDcolor = green_shades[3];
            cellKebeleIPDcolor = green_shades[5];
        }

        var myTable = $('#table_primary');
        myTable.bootstrapTable('load', data)
        myTable.bootstrapTable('resetView');
        myTable.bootstrapTable('resetSearch');
        tippy('#table_primary', {
            content: "Data with applied filters",
        });
    }

    function cellStyleWCODE(value, row, index) {

        if (row['TYPE'] == 'OPD') {
            w_color = cellWoredaOPDcolor;
        } else {
            w_color = cellWoredaIPDcolor;
        }
        
        if (row['LOC_W_CODE'] > 0) {
            return {
                css: { 'background-color': w_color}
            }
        } else {
            return {
                classes: 'bg-secondary'
            }
        }
    }

    function cellStyleRKCODE(value, row, index) {

        if (row['TYPE'] == 'OPD') {
            rk_color = cellKebeleOPDcolor;
        } else {
            rk_color = cellKebeleIPDcolor;
        }

        if (row['LOC_W_CODE'] > 0) {

            if (row['LOC_RK_CODE'] > 0) {
                return {
                    css: { 'background-color': rk_color}
                } 
            } else {
                return {
                    classes: 'bg-white'
                }
            }
        } else {
            return {
                classes: 'bg-secondary'
            }
        }
    }

    function cellStylePH(value, row, index) {
        
        //console.log(value);
        //console.log(row);
        //console.log(index);

        if (row['LOC_OK'] == 1) {
            return {
                css: { "color" : '#007bff',
                        "background-color" : '#007bff'
                },
            }
        }

        return {
            css: { color: '#FFFFFF' },
            classes: 'bg-white'
        }
    }

</script>