<!doctype html>
<table
    id="table_primary"
    data-show-export="true"
    data-export-types="['excel', 'csv']"
    data-export-data-type="all"
    data-toggle="table"
    data-pagination="true"
    data-page-size="5"
    data-url=""
    data-page-list="[5,10,20,50,All]"
    data-search="false"
    data-undefined-text=""
    >
    <caption>Real-Time fetched data</caption>
    <thead>
        <tr>
            <th scope="col" data-sortable="true" data-field="COUNT">Cases</th>
            <th scope="col" data-sortable="true" data-field="DIS_DESC">Disease</th>
            <th scope="col" data-sortable="true" data-field="PAT_CITY">Woreda/Town</th>
            <th scope="col" data-sortable="true" data-field="PAT_ADDR">Kebele</th>
            <th scope="col" data-sortable="true" data-field="LOC_W_CODE" data-cell-style="cellStyleWCODE">W_CODE</th>
            <th scope="col" data-sortable="true" data-field="LOC_RK_CODE" data-cell-style="cellStyleRKCODE">RK_CODE</th>
            <th scope="col" id="location" data-sortable="true" data-field="LOC_OK" data-cell-style="cellStylePH" data-width="1">HP</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

    $('#table_primary').on('click-cell.bs.table', function (field, value, row, record) {
        click_on_table(record);
    })

    function click_on_table(record) {
        //console.log(record);
        selected_dis = record['OPD_DIS_ID_A'];
        selected_rk = record['LOC_RK_CODE'];
        selected_w = record['LOC_W_CODE'];
        console.log('selected record: ' + selected_dis, selected_rk, selected_w);
        selectedShapes = {"type":"FeatureCollection","features":[]}

        mymap.eachLayer(function(layer) {
            click_on_table_select(layer, selected_dis, selected_rk, selected_w);
        });
        if (selectedShapes.features.length > 0) {
            selectedGeoShapes = L.geoJson(selectedShapes, {})
            mymap.flyToBounds(selectedGeoShapes.getBounds());
            update_disease_list();
        }
    }

    function click_on_table_select(layer, selected_dis, selected_rk, selected_w){
        if (layer.feature != undefined) {
            if (selected_rk != null) {
                if (selected_w == layer.feature.properties.W_CODE 
                    && selected_rk == layer.feature.properties.RK_CODE) {
                        // && layer.feature.properties.diseaselist.indexOf(selected_dis) >= 0) {
                            //console.log(layer.feature.properties.diseaselist, layer.feature.properties.RK_CODE, layer.feature.properties.W_CODE);
                            layer.setStyle({
                                fillOpacity: 0.5,
                            });
                            selectedShapes.features.push(layer.feature);
                            disease_list = [];
                            let temp_data = filterFast(loadedTableData, [selected_rk], 'LOC_RK_CODE');
                            temp_data.forEach(item => {
                                addItemToDiseaseList(item);
                            });
                            //console.log(disease_list);
                } else {
                    layer.setStyle({
                        fillOpacity: 0,
                    });
                }
            } else if (selected_w != null) {
                if (selected_w == layer.feature.properties.W_CODE) {
                        // && layer.feature.properties.diseaselist.indexOf(selected_dis) >= 0) {
                            //console.log(layer.feature.properties.diseaselist, layer.feature.properties.RK_CODE, layer.feature.properties.W_CODE);
                            layer.setStyle({
                                fillOpacity: 0.5,
                            });
                            selectedShapes.features.push(layer.feature);
                            disease_list = [];
                            let temp_data = filterFast(loadedTableData, [selected_w], 'LOC_W_CODE');
                            temp_data.forEach(item => {
                                addItemToDiseaseList(item);
                            });
                            //console.log(disease_list);
                } else {
                    layer.setStyle({
                        fillOpacity: 0,
                    });
                } 
            }
        }
    }

    /**
     * (function) update table with data
     */
    function update_table_data(data) {
        var myTable = $('#table_primary');
        myTable.bootstrapTable('load', data)
        myTable.bootstrapTable('resetView');
        myTable.bootstrapTable('resetSearch');
        tippy('#table_primary', {
            content: "Data with applied filters",
        });
    }

    function cellStyleWCODE(value, row, index) {
        
        if (row['LOC_RK_CODE'] > 0) {
            return {
                classes:'bg-warning'
            }  
        } else if (row['LOC_W_CODE'] > 0) {
            return {
                css: { 'background-color': '#238b45'}
            }
        } else {
            return {
                classes: 'bg-secondary'
            }
        }
    }

    function cellStyleRKCODE(value, row, index) {
        
        if (row['LOC_RK_CODE'] > 0) {
            return {
                classes:'bg-warning'
            }  
        } else {
            return {
                classes: 'bg-white'
            }
        }
    }

    function cellStylePH(value, row, index) {
        
        //console.log(value);
        //console.log(row);
        //console.log(index);

        if (row['LOC_OK'] == 1) {
            return {
                css: { "color" : '#007bff',
                        "background-color" : '#007bff'
                },
            }
        }

        return {
            css: { color: '#FFFFFF' },
            classes: 'bg-white'
        }
    }

</script>