<!doctype html>
<div id="secondary_mapid"
    style="height: 400px; position: relative; overflow: hidden"
    class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
    tabindex="0">
        <div class="leaflet-pane leaflet-map-pane"
            style="transform: translate3d(0px, 0px, 0px);">
        </div>
        <div id="second-map-loading-indicator" class="notloading">Loading...</div>
</div>
<script>

    var parametersSecondMap = {
        dateFrom: moment(),
        dateTo: moment(),
        center: [8.55611, 38.9741666],
        max_zoom: 18,
        initial_zoom: 1,
        range: true,
    }

    var cached_dateFrom;
    var cached_dateTo;
    getRangeLimitFromDatasource()

    /**
     * (sync) fetch data from URL
     */
     function getRangeLimitFromDatasource() {
        setLoadingReportrange(true);
        $.ajax({
            url: 'query_epoch_range',
            success:function(range,status,xhr)
            {
                console.log('...receiving...');
                console.log(range);
                cached_dateFrom = range['min'] || moment()
                cached_dateTo = range['max'] || moment()
                console.log(cached_dateFrom, cached_dateTo);
            },
            complete: function(){
                setLoadingReportrange(false);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    var sliderControl = null;
    var mySecondaryMap = L.map('secondary_mapid').setView(parametersSecondMap.center, parametersSecondMap.initial_zoom);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mySecondaryMap);
    mySecondaryMap.addControl(new L.Control.Fullscreen());

    /**
     * (function) build the url with parameters
     * starting from a base url
     */
    function get_url_epoch(base_url) {
        var query = base_url;
        query = query.concat('/').concat(parametersSecondMap.dateFrom.format().split('T')[0]);
        query = query.concat('/').concat(parametersSecondMap.dateTo.format().split('T')[0]);
        console.log(query);
        return query;
    }

    /**
     * (function) Refresh function
     */
    function refresh_second_map(refresh) {
        //alert('Refresh!');
        var newUrl = get_url_epoch('query_epoch');
        
        if (refresh) 
            fetch_data_epoch(newUrl);
        else 
            lazy_fetch_data_epoch(newUrl);
    }

    /**
     * (function) Try to optimize queries on the DB
     */
    function lazy_fetch_data_epoch(newUrl) {
        date_from = parametersSecondMap.dateFrom;
        date_to = parametersSecondMap.dateTo;


        if (date_from.isBefore(cached_dateFrom) || date_to.isAfter(cached_dateTo)) {
            console.log('new range data: need refresh...');

            if (date_from.isBefore(cached_dateFrom))
                cached_dateFrom = date_from;

            if (date_to.isAfter(cached_dateTo))
                cached_dateTo = date_to;
                
            fetch_data_epoch(newUrl);
        } else {
            console.log('range already fetched: just show!')
            newUrl = get_url_epoch('query_epoch_json')
            show_epoch_data(newUrl);
        }
    }

    /**
     * (function) show loading indicators
     */
    function setLoadingSecondMap(loading) {
        if (loading) {
            $('#second-map-loading-indicator').attr("class","loading");
        } else {
            $('#second-map-loading-indicator').attr("class","notloading");
        }
    }

    /**
     * (function) show loading indicators
     */
     function setLoadingReportrange(loading) {
        if (loading) {
            console.log('Loading range...');
        } else {
            console.log('...complete!');            
        }
    }

    /**
     * (sync) fetch data from URL
     */
    function fetch_data_epoch(newUrl) {
        setLoadingSecondMap(true);
        $.ajax({
            url: newUrl,
            success:function(data,status,xhr)
            {
                console.log('...receiving...');
            },
            complete: function(){
                setLoadingSecondMap(false);
                getRangeLimitFromDatasource();
                newUrl = get_url_epoch('query_epoch_json')
                show_epoch_data(newUrl);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    /**
     * (sync) fetch diseases
     */
    function show_epoch_data(newUrl) {
        $.ajax({
            url: newUrl, //convert fetched data to geojson
            success:function(json,status,xhr)
            {
                if (sliderControl != null) sliderControl.remove();

                //var boundLayter = showMarkerEpoch(json);
                try {
                    var testlayer = L.geoJson(json);
                }
                catch (e) {
                    console.log('malformed geojson');
                }
                //console.log(testlayer);

                //For a Range-Slider use the range property:
                //Check at URL: https://github.com/dwilhelm89/LeafletSlider/blob/master/SliderControl.js
                sliderControl = L.control.sliderControl({
                    position: "bottomleft",
                    layer: testlayer,
                    //follow: 1,
                    //range: true,
                    //min: 0,
                    //max: 500,
                    //values: [ 75, 300 ],
                    //isEpoch: true,
                    //startTimeIdx: 0,    // where to start looking for a timestring
                    //timeStrLength: 19,  // the size of  yyyy-mm-dd hh:mm:ss - if millis are present this will be larger
                    timeAttribute: "epoch",
                    //alwaysShowDate : true,
                    //showAllOnStart: true,
                    //step: 5,
                    sameDate: true,
                });

                mySecondaryMap.invalidateSize();
                mySecondaryMap.flyToBounds(testlayer, 10);

                //Make sure to add the slider to the map ;-)
                mySecondaryMap.addControl(sliderControl);
                //And initialize the slider
                sliderControl.startSlider();
            },
            complete: function(){
                //$('#leaflet-slider').html(options.markers[ui.value].feature.properties.time.substr(0, 19));

            },
            error: function(){
                console.log('error');
            }
        })
    }


</script>

