<!doctype html>
<div id="secondary_mapid"
    style="height: 400px; position: relative; overflow: hidden"
    class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
    tabindex="0">
        <div class="leaflet-pane leaflet-map-pane"
            style="transform: translate3d(0px, 0px, 0px);">
        </div>
        <div id="second-map-loading-indicator" class="notloading">Loading...</div>
</div>
<script>

    var parametersSecondMap = {
        dateFrom: moment(),
        dateTo: moment(),
        center: [8.55611, 38.9741666],
        max_zoom: 18,
        initial_zoom: 1,
        range: false,
    }

    var second_data_set = [];
    var second_shape_data_set = [];
    var cached_dateFrom;
    var cached_dateTo;
    getRangeLimitFromDatasource();

    var secondaryShpfile;
    var testlayer = L.geoJson();

    /*
     * (function) get shape file with Ethiopian's regions
     */ 
     function load_secondaryShapefile() {
        //secondaryShpfile = new L.Shapefile("{{url_for('static', filename='shapes/Ethiopia_admin_WGS84.zip') }}", {
        //secondaryShpfile = new L.Shapefile("{{url_for('static', filename='shapes/ethiopiaworeda.zip') }}", {
        //secondaryShpfile = new L.Shapefile("{{url_for('static', filename='shapes/places.zip') }}", {
        //secondaryShpfile = new L.Shapefile("{{url_for('static', filename='shapes/Ethiopia_AdminBoundaries-shp.zip') }}", {
        secondaryShpfile = new L.Shapefile("{{url_for('static', filename='shapes/survethi-monitoring-tool.zip') }}", {
			onEachFeature: function(feature, layer) {
                //console.log(feature);
                if (feature.properties) {
					// we add our property for counting
                    feature.properties.hitCount=0;
				}
			}
        });
        console.log(secondaryShpfile);
        console.log(secondaryShpfile._layers);

        //secondaryShpfile.addTo(mymap);
        secondaryShpfile.once("data:loaded", function() {
             console.log("finished loaded secondaryShpfile");
        });
        return secondaryShpfile;
    }

    /**
     * (sync) fetch data from URL
     */
     function getRangeLimitFromDatasource() {
        setLoadingReportrange(true);
        $.ajax({
            url: 'query_epoch_range',
            success:function(range,status,xhr)
            {
                console.log('...receiving...');
                //console.log(range);
                cached_dateFrom = range['min'] || moment()
                cached_dateTo = range['max'] || moment()
                //console.log(cached_dateFrom, cached_dateTo);
            },
            complete: function(){
                setLoadingReportrange(false);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    var mySecondaryMap = L.map('secondary_mapid', {
        timeDimension: true,
        timeDimensionControl: true,
        timeDimensionControlOptions: {
            timeSliderDragUpdate: true,
            //loopButton: true,
            //autoPlay: true,
            playerOptions: {
                transitionTime: 1000,
                loop: false
            }
        },
    }).setView(parametersSecondMap.center, parametersSecondMap.initial_zoom);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mySecondaryMap);
    mySecondaryMap.addControl(new L.Control.Fullscreen());
    new L.HistoryControl({}).addTo(mySecondaryMap);

    /**
     * (function) build the url with parameters
     * starting from a base url
     */
    function get_url_epoch(base_url) {
        var query = base_url;
        query = query.concat('/').concat(parametersSecondMap.dateFrom.format().split('T')[0]);
        query = query.concat('/').concat(parametersSecondMap.dateTo.format().split('T')[0]);
        //console.log(query);
        return query;
    }

    /**
     * (function) Refresh function
     */
    function refresh_second_map(refresh) {
        //alert('Refresh!');
        var newUrl = get_url_epoch('query_epoch');
        
        if (refresh) 
            fetch_data_epoch(newUrl);
        else 
            lazy_fetch_data_epoch(newUrl);
    }

    /**
     * (function) Try to optimize queries on the DB
     */
    function lazy_fetch_data_epoch(newUrl) {
        date_from = parametersSecondMap.dateFrom;
        date_to = parametersSecondMap.dateTo;


        if (date_from.isBefore(cached_dateFrom) || date_to.isAfter(cached_dateTo)) {
            console.log('new range data: need refresh...');

            if (date_from.isBefore(cached_dateFrom))
                cached_dateFrom = date_from;

            if (date_to.isAfter(cached_dateTo))
                cached_dateTo = date_to;
                
            fetch_data_epoch(newUrl);
        } else {
            console.log('range already fetched: just show!')
            newUrl = get_url_epoch('query_epoch_json')
            show_epoch_data(newUrl);
        }
    }

    /**
     * (function) show loading indicators
     */
    function setLoadingSecondMap(loading) {
        if (loading) {
            $('#second-map-loading-indicator').attr("class","loading");
        } else {
            $('#second-map-loading-indicator').attr("class","notloading");
        }
    }

    /**
     * (function) show loading indicators
     */
     function setLoadingReportrange(loading) {
        if (loading) {
            console.log('Loading range...');
        } else {
            console.log('...complete!');            
        }
    }

    /**
     * (sync) fetch data from URL
     */
    function fetch_data_epoch(newUrl) {
        setLoadingSecondMap(true);
        $.ajax({
            url: newUrl,
            success:function(data,status,xhr)
            {
                console.log('...receiving...');
            },
            complete: function(){
                setLoadingSecondMap(false);
                //getRangeLimitFromDatasource();
                newUrl = get_url_epoch('query_epoch_json')
                show_epoch_data(newUrl);
            },
            error: function(){
                console.log('error');
            }
        })
    }

    var mapLayerGroups = [];

    var counter = 0;
    /*
     * Apply secondary_filter
     */
    function applySecondaryFilter(feature) {
        //console.log(counter, feature);

        if (feature.geometry.type == 'Polygon' ||
            feature.geometry.type == 'MultiPolygon')
            return true; //skip shapes

        var town = feature.properties.town;
        var kebele = feature.properties.kebele;
        var disease = feature.properties.disease;

        var filter_town = town_selected.length > 0;
        var filter_kebele = kebele_selected.length > 0;
        var filter_disease = secondary_disease_list_filter.length > 0;

        var ok = true;

        if (filter_town)
            ok = ok && town_selected.indexOf(town) >= 0;

        if (filter_kebele)
            ok = ok && kebele_selected.indexOf(kebele) >= 0;

        if (filter_disease)
            ok = ok && secondary_disease_list_filter.indexOf(disease) >= 0;

        //if (ok) console.log(town, kebele, disease, ' --> ',ok);
        //if (!ok) console.log(town, kebele, disease, ' --> ',ok);
        if (ok) {
            var date = feature.properties.epoch.substr(0,10);
            var object = jQuery.extend({'date' : date}, feature.properties);
            //console.log("2");
            //console.log(object);
            if (updating) second_data_set.push(object);

            Object.values(secondaryShpfile._layers).forEach(function(thisFeature) {
                        
                var shape = thisFeature.feature;

                //TODO: change to RK_CODE (kebele) that must be available in LOCATION table
                var rk_name = shape.properties.RK_NAME;

                //adding shapes of kebele
                //TODO: improve with a map 
                if (kebele.toUpperCase() === rk_name.toUpperCase()) {
                    var object = jQuery.extend(true, {'properties': {'time': feature.properties.time}}, shape);
                    second_shape_data_set.push(object); //we add the features later
                    //console.log(object);
                }
            });
        }
        //console.log(second_data_set);
        counter = counter + 1;
        return ok;
    }
 
    /**
     * (sync) fetch diseases
     */
    var updating = false; // workaround to bound applySecondaryFilter to only one run
    function show_epoch_data(newUrl) {
        $.ajax({
            url: newUrl, //convert fetched data to geojson
            success:function(json,status,xhr)
            {
                //console.log(json.features);
                try {
                    second_data_set = new Array(); //empty for graph
                    second_shape_data_set = new Array();
                    updating = true;
                    counter = 0;
                    //console.log('applying filter...');
                    //console.log('- towns : ' + (town_selected.length > 0 ? town_selected : 'All'));
                    //console.log('- kebeles : ' + (kebele_selected.length > 0 ? kebele_selected : 'All'));
                    //console.log('- diseases : ' + (secondary_disease_list_filter.length > 0 ? secondary_disease_list_filter : 'All'));
                    testlayer = L.geoJson(json.features, {filter: applySecondaryFilter});
                    
                    updating = false;
                    //console.log("1>" + Object.keys(testlayer._layers).length);
                }
                catch (e) {
                    //console.log(e);     
                    console.log('malformed geojson');
                }

                if (Object.keys(testlayer._layers).length === 0) {
                    // no data
                    console.log('Secondary Map: nothing to display!');
                    //enableDatesRangeToogle(false);
                } else {
                    //add selected shapes
                    testlayer.addData(second_shape_data_set);
                    L.timeDimension.layer.geoJson(testlayer, {
                        updateTimeDimension: true,
                        duration: 'P1D',
                        updateTimeDimensionMode: 'replace',
                        waitForReady: true,
                        addlastPoint: true,
                    }).addTo(mySecondaryMap);

                    mySecondaryMap.invalidateSize();
                    mySecondaryMap.flyToBounds(testlayer, 10);
                }

                updateCharts();

            },
            complete: function(){

            },
            error: function(){
                console.log('error');
            }
        })
    }

    mySecondaryMap.timeDimension.on('timeload', function(data) {
        console.log('Update slider and charts');
        var date = new Date(data.time).toISOString().split('T')[0]
        //console.log(date);
        updateChartsPlotLines(date);
    })

</script>

