<!doctype html>
<div class="row">
    <div class="col">
        <div id="time-range-selector" class="m-1 btn-group" role="group" aria-label="Basic example">
            <button id="today" type="button" class="btn btn-primary">Today</button>
            <button id="yesterday" type="button" class="btn">Yesterday</button>
            <button id="days3" type="button" class="btn">1-3 Days</button>
            <button id="week1" type="button" class="btn">1 week</button>
            <button id="weeks2" type="button" class="btn">2 weeks</button>
            <button id="month1" type="button" class="btn">1 month</button>
            <button id="months3" type="button" class="btn">3 months</button>
        </div>
    </div>
    <div class="col text-right">
        <button id="spinner_refresh" class="btn btn-success mt-1" type="button" disabled hidden>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        </button>
        <button id="button_update" type="button" class="btn btn-outline-success mt-1">Update</button>        
        <input id="toggle_refresh"
            type="checkbox" 
            data-toggle="toggle"
            data-style="mt-1"
            data-on="Auto on" data-off="Auto off" 
            data-onstyle="success"
            data-offstyle="danger">
        <select id="select_interval" class="custom-select mt-1 w-25">
            <option value="{{refresh_intervals[0]}}" selected="true">{{refresh_intervals[0]}}min</option>
            {% for interval in refresh_intervals[1:] %}
                <option value="{{interval}}">{{interval}}min</option>
            {% endfor %}
        </select>
    </div>
</div>

<script type="text/javascript">

    /**
     * (event) Refresh button click event
     */
    $('#time-range-selector button').click(function() {
        $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
        var start_date = "04-07-2024"; // e.g. "15-05-2018"
        //var start_date = "today";
        if (start_date == "today") {
            date = new Date();
            parameters.dateFrom = new Date();
            parameters.dateTo = new Date();
        } else {
            date = toDate(start_date);
            parameters.dateFrom = toDate(start_date);
            parameters.dateTo = toDate(start_date);
        }
        if (this.id == "yesterday") {
            parameters.dateTo.setDate(date.getDate() - 1);
            parameters.dateFrom.setDate(date.getDate() - 1);
        }
        if (this.id == "days3") {
            var date = new Date();
            parameters.dateTo.setDate(date.getDate() - 1);
            parameters.dateFrom.setDate(date.getDate() - 3);
        }
        if (this.id == "week1") {
            var date = new Date();
            parameters.dateTo.setDate(date.getDate() - 1);
            parameters.dateFrom.setDate(date.getDate() - 7);
        }
        if (this.id == "weeks2") {
            var date = new Date();
            parameters.dateTo.setDate(date.getDate() - 1);
            parameters.dateFrom.setDate(date.getDate() - 14);
        }
        if (this.id == "month1") {
            var date = new Date();
            parameters.dateTo.setDate(date.getDate() - 1);
            parameters.dateFrom.setDate(date.getDate() - 31);
        }
        if (this.id == "months3") {
            var date = new Date();
            parameters.dateTo.setDate(date.getDate() - 1);
            parameters.dateFrom.setDate(date.getDate() - 90);
        }
        //alert(parameters.dateFrom + " " + parameters.dateTo);
        refresh(true);
    });

    /**
     * (event) initialize Refresh button
     */
    $(function() {
        $('#toggle-refresh').prop('checked', parameters.refresh).change()
    })

    /*
     * (event) Refresh button toggle event
     */
    $(function() {
        $('#toggle_refresh').change(function() {
            parameters.refresh = !parameters.refresh;
           // console.log(parameters.refresh)
            if (parameters.refresh) {
                if (myTimeout) clearTimeout(myTimeout);
                myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
                refresh(true);
            }
        })
    })

    /**
     * (event) Selection interval event
     */
     $('#select_interval').on('change', function() {
        parameters.refresh_interval = this.value * 60; // minutes
        if (myTimeout) clearTimeout(myTimeout);
        myTimeout = setTimeout(refresh, parameters.refresh_interval * 1000);
    });

    /**
     * (event) Update button click event
     */
     $('#button_update').click(function(){
        refresh(true);
    });

</script>